[2021-12-02 19:40] #93 closed

[2021-12-02 19:42] Fang- commented on #293
Should test if this gets fixed by urbit/urbit#5454

[2021-12-02 19:42] liam-fitzgerald commented on #193
cc: @urcades for further review, closing

[2021-12-02 19:42] #193 closed

[2021-12-02 19:46] #291 closed

[2021-12-02 19:49] liam-fitzgerald commented on #289
fixed

[2021-12-02 19:49] #289 closed

[2021-12-02 19:50] liam-fitzgerald commented on #200
cc: @urcades for further review, closing

[2021-12-02 19:50] #200 closed

[2021-12-02 19:52] liam-fitzgerald commented on #283
cc: @urcades for further review, closing

[2021-12-02 19:52] #283 closed

[2021-12-02 19:54] liam-fitzgerald commented on #205
cc: @urcades for further review, closing

[2021-12-02 19:54] #205 closed

[2021-12-02 20:02] liam-fitzgerald commented on #185
cc: @urcades for further review, closing

[2021-12-02 20:02] #185 closed

[2021-12-02 20:07] #184 closed

[2021-12-02 20:07] #295 closed

[2021-12-02 20:07] liam-fitzgerald commented on #178
cc: @urcades for further review, closing

[2021-12-02 20:07] #178 closed

[2021-12-02 20:07] liam-fitzgerald commented on #177
cc: @urcades for further review, closing

[2021-12-02 20:07] #177 closed

[2021-12-02 20:08] liam-fitzgerald commented on #155
insufficient repro

[2021-12-02 20:08] #155 closed

[2021-12-02 20:09] liam-fitzgerald commented on #145
cc: @urcades for further review, closing

[2021-12-02 20:09] #145 closed

[2021-12-02 20:10] liam-fitzgerald commented on #127
cc: @urcades for further review, closing

[2021-12-02 20:10] #127 closed

[2021-12-02 20:11] #297 closed

[2021-12-02 20:11] liam-fitzgerald commented on #297
fixed

[2021-12-02 20:13] Fang- commented on #1073
Fixed in dist, which is live!

[2021-12-02 20:13] #1073 closed

[2021-12-02 21:25] urcades opened #1336 "Cannot join Urbit Community w/ new Group Joining interfaces, receive errors"
**Describe the bug**

When I click the "Invited to Group" tile state to join a group, my javascript console immediately throws several errors:

<img width="1458" alt="Screen Shot 2021-12-02 at 4 21 42 PM" src="https://user-images.githubusercontent.com/1195363/144505087-2b9a5930-2706-49d9-9d9c-d2325d03539c.png">

When I actually click "Accept Invite", I get the following additional errors:

<img wi

[2021-12-05 06:01] mrdomino opened #1338 "graph-store/import seems not to work"
I just tried to import a jammed graph produced by `+landscape!graph-store/export-graph` (with the changes in urbit/urbit#5472). I got a nets-need with no output for the nets-have. Confirmed that catting the jammed file yields the contents of the old graph store.

The real desired thing here is “landscape has import/export functionality that works,” so that I can e.g. move a notebook from a star to

[2021-12-05 06:05] mrdomino opened #1339 "Cannot join archived / unarchived notebook"
In the process of fumbling around blindly trying to figure out how to get import/export of notebooks to work, I accidentally kicked off a `:graph-store|archive-graph` of the notebook I was trying to export. After I realized what I had done, I ran `:graph-store|unarchive-graph` to get it back.

Now, from a ship that was previously joined to the notebook, the notebook shows up but is unjoined. When

[2021-12-05 19:59] mrdomino commented on #1338
nvm, problem was just that the mark was wrong. TIL the original motivation for marks.

[2021-12-05 19:59] #1338 closed

[2021-12-08 00:16] simfur-ritwed opened #1340 "DM invite prompt loads a second time after initial acceptance and exchange of messages"
I received a DM invite ~3 hours ago, and accepted it, before sending several messages back and forth with the other ship. 3 hours later, after navigating away, I returned to my DMs, clicked on that conversation, and saw the 'Accept/Decline' box again. I accepted and saw the entire conversation again.

This is not a new bug but it's the first time I've seen it in a few months.

System: Chrome on Ma

[2021-12-09 07:10] timlucmiptev opened #1341 "Kicking a user from group causes state inconsistencies"
**Describe the bug**
I have a group on ~datwet, and am an admin of the group on ~timluc-miptev. The group is private. When I kick a user as ~timluc-miptev, the user is not removed in the list of members. However, I get a notification on ~datwet that the user has rejoined.

In addition, ~timluc-miptev's view of the group shows 113 users (same as pre-kick), but ~datwet's shows 118 (presumably the ex

[2021-12-09 13:29] timlucmiptev opened #1342 "Can't join group"
**Describe the bug**
When I'm invited to a group, clicking the Accept button in notifications does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Invite a user you control to a group you own
2. Log on to that user's Urbit
3. go to Notifications
4. try to click Accept
5. observe nothing happens

**Operating context**
 - Device: laptop
 - OS: Ubuntu 20.04
 - Browser: Brave
 - Landsca

[2021-12-09 19:07] Fang- commented on #215
cc: @urcades for further review, closing

[2021-12-09 19:07] #215 closed

[2021-12-09 19:18] Fang- commented on #219
More ideas from @liam-fitzgerald
- could be lazier about loading of groups specifically
  - currently gets a list of 6k `@p`s if you're in u-c
  - same for contacts
- really want graph-store handling memory optimization
  - if you view a chat once, never stop processing updates for that directly
  - better than old behavior, which was doing it always for all chats (^:
  - ux concerns: getting this

[2021-12-09 19:23] Fang- commented on #225
cc: @urcades for further review, closing

[2021-12-09 19:24] Fang- commented on #279
We haven't seen this recently, closing until a repro surfaces.

[2021-12-09 19:24] #279 closed

[2021-12-09 19:26] Fang- commented on #229
@liam-fitzgerald is gonna do this today (;

[2021-12-09 19:29] Fang- commented on #245
@liam-fitzgerald: there are no good ways to do this that don't involve importing huge libraries. iOS might strip location exif data, which is the biggest problem, but Android might not. Closing as wontfix for now.

[2021-12-09 19:29] #245 closed

[2021-12-09 19:32] Fang- commented on #250
This is a big graph-store-level feature request that we wontfix. Closing!

[2021-12-09 19:32] #250 closed

[2021-12-09 19:39] Fang- commented on #263
@liam-fitzgerald's conclusion is that old Safari is bad at floating point math.

Still an issue for Safari 14, but fixed in Safari 15. Closing!

[2021-12-09 19:39] #263 closed

[2021-12-09 19:40] Fang- commented on #319
cc @urcades, we should put the @p next to the sigil in the top right again.

[2021-12-09 19:41] Fang- commented on #321
Wontfix, sorry!

(There was a PR for this at one point, but it blows up bundle size and is just Not Worth It in general. This is a good use case for dynamically loaded components though.)

[2021-12-09 19:41] #321 closed

[2021-12-09 19:43] Fang- commented on #328
We could do this with current tech. Also cc @urcades for further review

[2021-12-09 19:47] Fang- commented on #330
Would be closed (or at least strongly worked around) by urbit/urbit#5100.

Further root cause background deets here:
https://tkainrad.dev/posts/why-keyboard-shortcuts-dont-work-on-non-us-keyboard-layouts-and-how-to-fix-it/

[2021-12-09 19:52] Fang- commented on #356
Sort of fixed by having both grid and list view, but we could get fancier with it. Gets close to writing custom validators for graphs and dynamically validating them though.

cc: @urcades for further review, closing

[2021-12-09 19:52] #356 closed

[2021-12-09 19:53] Fang- commented on #366
@urcades the people demand an answer: "how?"

[2021-12-09 19:57] Fang- commented on #399
Because we have this functionality in the group & chat joining screens we can just not show the prompt by default.

[2021-12-09 19:58] Fang- commented on #449
Fixed by recent group join flow work.

[2021-12-09 19:58] #449 closed

[2021-12-09 20:02] Fang- commented on #454
Current subscription handling prevents big loads when host & client get out of sync, but we're still missing regular stress-tests for applications that resemble network conditions (without touching the network). Canary releases can only take us so far. This might be partially obsoleted by subscription reform, but even then we want to be able to test for these kinds of problems, detect infinite net

[2021-12-09 20:51] saunic opened #1343 "Minified React error"
Upon deleting a post inside of a Notebook channel, I get this error
![image](https://user-images.githubusercontent.com/71407101/145473668-04275339-5733-46ab-a126-f2f6bf3d73ac.png)

[2021-12-09 22:25] liam-fitzgerald commented on #1342
Have you refreshed the page? If you have the new JS bundle, then the an invite should be visible in the list of group tiles, with blue text saying `invited`

[2021-12-10 03:07] lycurgus commented on #1316
For those following this one, it looks like urbit/urbit#5454 is expected to fix it :)

[2021-12-10 07:27] timlucmiptev commented on #1342
OK seems like what was happening is that the group was being joined in the background when I clicked "Accept" in notifications, but that didn't clear the notification so it was confusing.

[2021-12-10 07:48] urcades commented on #399
@Fang- I 100% agree we should remove this banner wholesale now that we're situating the share optionality where it should've been the entire time.

[2021-12-10 07:53] urcades commented on #399
cc @liam-fitzgerald ^ ^ is this banner an easy thing for us to simply rip out? I believe situating the option to revoke one's "shared private profile" in a group's settings feels stale, esp. given a much-desired update to profile UX, but we should absolutely address the annoying banner asap.

[2021-12-13 08:30] simfur-ritwed opened #1344 "Clicking or previewing Twitter link inside quote in chat leads to laggy page reload"
When clicking either the actual URL or the arrow to expand the preview, inside a quote box in a chat which contains a Twitter link:
* If the URL is clicked, the (Urbit) page will reload entirely (taking up to 3 seconds), and the Twitter link will not open
* If the preview arrow is clicked, the preview will show very briefly before the entire (Urbit) page will reload, as above.
<img width="601" alt

[2021-12-13 12:30] #1271 closed

[2021-12-13 12:31] liam-fitzgerald commented on #1271
Fix has been deployed

[2021-12-13 12:40] liam-fitzgerald commented on #1339
should be fixed by https://github.com/urbit/urbit/pull/5489

[2021-12-13 12:40] #1339 closed

[2021-12-13 12:49] liam-fitzgerald commented on #1296
Should be addressed by the most recent OTA. If you're still struggling to join `-group-leave [%leave ~host %name]` should do the trick

[2021-12-13 12:49] #1296 closed

[2021-12-13 12:49] liam-fitzgerald commented on #1297
this has been fixed, and released to the network

[2021-12-13 12:49] #1297 closed

[2021-12-13 12:49] liam-fitzgerald commented on #1290
This has been addressed by the most recent OTA

[2021-12-13 12:49] #1290 closed

[2021-12-13 12:50] liam-fitzgerald commented on #1283
Should be addressed by the most recent OTA

[2021-12-13 12:50] #1283 closed

[2021-12-13 12:55] liam-fitzgerald commented on #1298
Appears to have been addressed by the updates to color picker that went out in the most recent OTA

[2021-12-13 12:55] #1298 closed

[2021-12-13 12:56] liam-fitzgerald commented on #1336
Resolved OOB.
FTR: mysterious group joining errors should be fixed by `-group-leave [%leave ~host %name]`

[2021-12-13 12:56] #1336 closed

[2021-12-13 12:56] #1267 closed

[2021-12-13 12:57] liam-fitzgerald commented on #1236
Merged and deployed

[2021-12-13 12:57] #1236 closed

[2021-12-13 13:26] liam-fitzgerald commented on #1060
Fixed and deployed

[2021-12-13 13:26] #1060 closed

[2021-12-13 13:26] liam-fitzgerald commented on #1251
Done, closing

[2021-12-13 13:26] #1251 closed

[2021-12-13 13:27] liam-fitzgerald commented on #1322
Still at large? Likely solved by colour input fixes that were deployed recently

[2021-12-13 13:27] #1322 closed

[2021-12-14 17:36] lukestiles opened #1345 "Cannot read properties of undefined (reading 'vip')"
I received this error after a hard refresh in the browser.

[code]

[2021-12-14 22:25] lycurgus commented on #1316
Looks like this is resolved now :)

[2021-12-14 22:25] #1316 closed

[2021-12-14 23:58] Fang- commented on #293
Closed by urbit/urbit#5454.

[2021-12-14 23:58] #293 closed

[2021-12-15 00:02] Fang- commented on #1270
urbit/urbit#5454 sort of fixes this: you can now hold down the alt key and drag to select text as normal. Looks like it might still need styling tweaks, the selector is barely visible on my screen, and also discoverability of this functionality is sub-par (though it does match behavior in some other terminal emulators).

The _real_ fix here is adding broader mouse event support and making terminal

[2021-12-15 00:05] Fang- commented on #1326
Should be fixed as of urbit/urbit#5454's release earlier today.

[2021-12-15 00:05] #1326 closed

[2021-12-15 22:54] Fang- opened #1346 "Webterm behavior inconsistent on mobile"
Getting some [reports from the field](https://twitter.com/chc40/status/1470929743075856394) that webterm occasionally behaves poorly in mobile firefox. There's some known issues with using a too-small window, but that shouldn't affect keystrokes/functionality.

[2021-12-16 19:04] Fang- commented on #459
@liam-fitzgerald says this has been fixed with new on-clog behavior.

[2021-12-16 19:04] #459 closed

[2021-12-16 19:05] Fang- commented on #472
Now that indigo has an autofocus prop(?) a fix for this can be made.

[2021-12-16 19:13] Fang- commented on #607
According to @liam-fitzgerald the best/most straightforward fix for this is React 18, which lets us interrupt the rendered. We suspect currently we rerender for every update we get, instead of just at the end of processing the update queue.

[2021-12-16 19:13] Fang- commented on #663
This button doesn't even exist anymore. Further notifications ux improvements are on the board for Q1.

[2021-12-16 19:13] #663 closed

[2021-12-16 19:15] Fang- commented on #672
js precepts: do the thing that works and Ship It

Further style discussion would be better to have out of band, gh issues aren't a good format for it.

[2021-12-16 19:15] #672 closed

[2021-12-16 19:18] Fang- commented on #686
According to @liam-fitzgerald this smells a bit like api completionism, adding a thing for this probably wouldn't buy us much. Obviously for nested nodes you'll want to add the nodes above it also. Closing.

[2021-12-16 19:18] #686 closed

[2021-12-16 19:21] Fang- commented on #711
cc: @urcades for further review

[2021-12-16 19:25] Fang- commented on #742
Very likely fixed by improved reconnect behavior. Closing.

[2021-12-16 19:25] #742 closed

[2021-12-16 19:30] Fang- commented on #744
After looking into it, @arthyn and @liam-fitzgerald think this might not be a great improvement, you're basically making tradeoffs here. There's lower hanging fruit elsewhere. (Being lazy with loads, scry-based data fetching, etc.)

[2021-12-16 19:30] #744 closed

[2021-12-16 19:31] Fang- commented on #761
Fixed by @liam-fitzgerald's upcoming PR urbit/urbit#5490.

[2021-12-16 19:33] Fang- commented on #767
@liam-fitzgerald says the best thing to do here is add padding of ~m5 to the timestamp of pending messages, then use that to do the ordering, essentially forcing them to the bottom.

[2021-12-16 19:35] Fang- commented on #792
Closing. 2022 coming up. New year, new org, seems nice to start with a clean meeting log.

[2021-12-16 19:35] #792 closed

[2021-12-16 19:35] Fang- commented on #796
Fixed by the recent group joining overhaul.

[2021-12-16 19:35] #796 closed

[2021-12-16 19:43] Fang- commented on #829
Likely fixed by #5101.

[2021-12-16 19:44] Fang- commented on #846
@liam-fitzgerald: not possible with the current architecture. Closing as wontfix.

[2021-12-16 19:44] #846 closed

[2021-12-16 19:46] Fang- commented on #869
cc: @urcades for further review in the context of notifications work, closing

[2021-12-16 19:46] #869 closed

[2021-12-16 19:57] Fang- commented on #886
You can work around it now with the mark all as read button, but the issue still exists.

[2021-12-16 19:58] Fang- commented on #887
Fixed by urbit/urbit#5109.

[2021-12-16 19:58] #887 closed

[2021-12-16 19:59] Fang- commented on #985
The notification should have a timestamp, we could render that on the frontend. cc @urcades for design review.

[2021-12-16 20:00] Fang- commented on #945
Closing this as duplicate of many other issues.

[2021-12-16 20:00] #945 closed

[2021-12-16 20:01] Fang- commented on #984
Could not repro, closing.

[2021-12-16 20:01] #984 closed

[2021-12-16 20:02] Fang- commented on #986
cc: @urcades for further review, closing

[2021-12-16 20:02] #986 closed

[2021-12-16 20:12] Fang- commented on #988
@liam-fitzgerald: we could contort the current architecture to support this, or take a step back and look at things more holistically.

For now, cc @urcades for further review, closing

[2021-12-16 20:12] #988 closed

[2021-12-16 22:16] lycurgus commented on #1346
I'm not sure if this is related, but on desktop Firefox I'm finding that if I type at full speed, characters get dropped/entered out of order - e.g. I tried to `|hi ~mister-master-minder-folden` and the first attempt at typing that resulted in `|hi ~mst` followed by "invalid input" beeping on subsequent letters. I had to backspace and type one or two characters at a time, waiting for the previous

[2021-12-16 22:34] saunic opened #1347 "Landscape fails to load"
**Describe the bug**
Landscape won't load (get's stuck in loading screen, despite computer restart
*Include a screenshot or stack trace if possible.*
![image](https://user-images.githubusercontent.com/71407101/146458707-63c0f9a4-3916-4fa1-ad1e-8f1bb0e925a3.png)
![image](https://user-images.githubusercontent.com/71407101/146458517-6b34a2c1-372a-4382-914e-4c4d90725001.png)

**To Reproduce**
Steps to

[2021-12-16 23:01] Fang- commented on #1346
I had seen that behavior before. Couldn't reproduce on latest, but perhaps just because it's subject to network/response speeds and such?

When I had looked into this back in the day, I had come to the unlikely conclusion that it's actually [a browser bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1698194). It dropped off the radar and I ended up not trying out a minimal reproduction case, but

[2021-12-16 23:06] lycurgus commented on #1346
You might be correct.... I hadn't checked the network tab but I discover the following:

![image](https://user-images.githubusercontent.com/8443742/146461923-a34c9ab2-dc4a-44cb-9d25-efa446d28e8c.png)

The first call there, with the turtle icon, is the `|` which seems to have been dropped altogether from webterm's point of view.

[2021-12-17 01:46] tomholford commented on #1344
Are you using Port or a browser? Here's one for Port:

https://github.com/urbit/port/issues/140

[2021-12-17 01:56] simfur-ritwed commented on #1344
Browser. Chrome on MacBook Pro.

[2021-12-17 01:58] simfur-ritwed commented on #1344
Not quite the same bug though; as I experienced it, it doesn't open a new window, just reloads the Groups page. And it only happens when the link is inside a quoted comment, not a fresh chat comment.

[2021-12-17 03:28] arthyn commented on #1344
It is the same bug it just presents differently here. There's some bad HTML structure that's causing this.

[2021-12-17 13:17] habsul-rignyr opened #1348 "Minified React error"
Getting Minified React error when deleting a notebook entry

Stack trace:

Ch (webpack:///node_modules/react-dom/cjs/react-dom.production.min.js 157:333)
oi (webpack:///node_modules/react-dom/cjs/react-dom.production.min.js 180:153)
a=b.pendingProps;f=e._init;e=f(e._payload);b.type=e;f=b.tag=hk(e);a=lg(e,a);switch (webpack:///node_modules/react-dom/cjs/react-dom.production.min.js 269:342)
Pj (webp

[2021-12-17 16:47] ashelkovnykov opened #1349 "Rank-based Permissions that Split Viewing and Posting Rights in Groups"
**Problem**
Currently, granting someone/the public access to a group allows them to both read posts and make posts.

**Proposed Solution**
Split read/write permissions for Landscape groups, and make them rank-based.

**Additional context**
I originally had this idea as a solution to The Comet Problem: comets are good for the ecosystem as anonymous IDs and a free trial of Urbit, but they currently

[2021-12-17 16:51] ashelkovnykov opened #1350 "Drop Packets or Don't Render Messages from Comets with Links/Images"
**Problem**
Landscape auto-renders links/links to images. Comets can abuse this for spam/troll purposes.

**Proposed Solution**
Disable auto-rendering of links/images in Landscape if the sender is a comet, either as a rule or as an option.

**Possible Alternatives**
Drop messages containing links/images sent by comets.

**Additional context**
Another potential solution to The Comet Problem: comets

[2021-12-17 16:57] ashelkovnykov commented on #1349
Tagging @liam-fitzgerald & @urcades

[2021-12-17 16:57] ashelkovnykov commented on #1350
Tagging @liam-fitzgerald & @urcades

[2021-12-18 05:39] urcades commented on #711
This was implemented in the form of a toggle in settings:

<img width="625" alt="Screen Shot 2021-12-18 at 12 34 03 AM" src="https://user-images.githubusercontent.com/1195363/146630558-729585ff-4640-4a47-9de7-35246e857166.png">

Closing this with a note that it's worth considering sending a "quick tip" notification of some sort. This could be a first-time boot message.

[2021-12-18 05:39] #711 closed

[2021-12-18 05:45] urcades commented on #366
This has been fixed it seems:

https://user-images.githubusercontent.com/1195363/146630793-f47a191d-f6ad-4ab9-903b-5dbd6666a4ce.mov

What I had initially failed to communicate was that the 'jank' was a result of pressing 'leave group' and seeing a loader spinner. Given the video above, it appears as though we optimistically insta-leave a group, which is the correct approach.

[2021-12-18 05:45] #366 closed

[2021-12-18 06:50] urcades commented on #319
"Profile presentation" is changing up on both the landscape/grid front and groups proper, and the proposal is slightly defunct/aged as to not be immediately relevant anymore.

However, I empathize with the needs of moons and comets especially in this regard (easily finding my name to use/share) but there are other ways to solve this apart from simply surfacing one's name at all times. We'll get th

[2021-12-18 06:50] #319 closed

[2021-12-18 07:14] urcades commented on #328
Re-reading this issue back, I'm realizing the desire to "bump" posts via commentary was rooted in the desire to build a forum-like channel type, period.

I think we're closer to realizing this than we think, and adding further complexity to "notebook" channels is probably a mistake. Notebooks, since the beginning, have had a lot shoehorned into them interface-wise, and we could stand to continue t

[2021-12-18 07:14] #328 closed

[2021-12-18 22:34] james-rms opened #1351 "Invalid integer: NaN is not a valid exponent."
Not blocking or urgent, just FYI:

I got this stack trace on clicking an urbitgraph link to:

https://<myhostname>/apps/landscape/~landscape/ship/~hocwyn-tipwex/uqbar-event-horizon/resource/publish/ship/~hocwyn-tipwex/urbit-links-and-other-handy-reference-8333/note/www.reddit.com

[code]

landscape desk hash: `0ve.eua0s.do63h.as3ma.ipmvh.5t1mr.6bugj.2v8f9.9o3km.7k9bi.42qo2`
version: 1.0.4

[2021-12-20 22:11] ridoy opened #1352 "btc-wallet: request money"
(EDIT: moved to https://github.com/urbit/bitcoin-wallet/issues/47)

**Problem**
Right now you can only send money through btc-wallet. It would be nice if one ship could request payment from another.

**Proposed Solution**
A "request" tab in btc-wallet.

1. Ship 1 sends request for x BTC to Ship 2
2. Notification appears on Ship 2's landscape
3. Ship 2 can either accept or deny Ship 1's request
4.

[2021-12-20 23:10] ridoy commented on #1352
moved to https://github.com/urbit/bitcoin-wallet/issues/47

[2021-12-21 11:06] h5gq3 opened #1353 "clicking "Join Group" does nothing"
tried to join group "Uqbar Event Horizon", the popup showed on screen, clicked "Join Group", nothing happened, clicked again, nothing

[2021-12-22 13:52] saunic opened #1354 "[bug] Unable to Join Group"
**Bug Description*
Unable to join group even when invited.

**To Reproduce**
Steps to reproduce the behavior:
1. When in Groups, click Join Group.
2. Enter Group name without being invited. Get notified that you don't have the correct permissions
3. Group you attempted to join is now stuck in your group list as "Joining..."
![image](https://user-images.githubusercontent.com/71407101/147102492-75cc

[2021-12-24 07:33] urcades opened #1355 "Scrub metadata from all/any photos uploaded into Landscape"
I could have sworn this was an issue brought up formally in here as a feature request, but it doesn't look like it exists atm.

The request is simple: Any photo/image uploaded into Landscape should have any identifiable personal information scrubbed so people don't accidentally dox themselves, or reveal sensitive info malicious actors could make use of.

[2021-12-24 08:28] hey-kader commented on #1355
The quick way: extract the exif data, write it to /dev/null,  and store the file in its native compression and size. You might have to subtract the length of what you remove from a total size value in the metadata in order for the picture to render

The other way: extract only the data from each image, compress jpg, tiff, heic & jpegs to png, make sure its size meets a fairly general criteria (min

[2021-12-24 08:45] hey-kader commented on #1355
or! make sure that the user cant download bucket'd pictures, ever ( instagram does this )

[2022-01-03 21:58] ryjm opened #1356 "Old chat message references don't link back to the message"
When clicking on a chat message reference that's reasonably old (not sure how old it needs to be), you're linked to the bottom of the chat rather than the message itself.

[2022-01-05 00:47] simfur-ritwed opened #1357 "DM never arrives"
Today I was sent a DM by another ship. I witnessed the sending of the DM. A subsequent DM from another ship (which I also witnessed) came through just fine. As of ~3 hours later, I have not received a DM notification.

System: Chrome on MacBook Pro.

[2022-01-06 19:09] nerveharp commented on #1010
Relates to #1282

[2022-01-06 19:12] nerveharp commented on #1012
FYI @e-shee

[2022-01-06 19:14] nerveharp commented on #1021
Leaving urbit/urbit#5074

[2022-01-06 19:14] #1021 closed

[2022-01-06 19:16] nerveharp commented on #1037
Pending verification, possibly overtaken by events.

[2022-01-06 19:18] nerveharp commented on #1342
Relates to urbit/landscape#1038

[2022-01-06 19:19] nerveharp commented on #1038
Using urbit/landscape#1342 as a parent issue for all group join-related bugs.

[2022-01-06 19:19] #1038 closed

[2022-01-06 19:24] nerveharp commented on #1043
Constitutes hiding the DM from the UI sidebar; should be messaged as "Leave DM" and not "Delete Conversation." If someone messages the other party again, it should go through the whole process of re-inviting. Ideally, we preserve message history on a re-opened (re-joined) DM channel, but maybe we can explore a secondary option ("Leave and Forget").

[2022-01-06 19:33] nerveharp commented on #1054
@travisbyrne Thank you, encapsulating elsewhere.

[2022-01-06 19:33] #1054 closed

[2022-01-06 19:33] Fang- commented on #1056
Has since been removed.

[2022-01-06 19:33] #1056 closed

[2022-01-06 19:34] #1057 closed

[2022-01-06 19:37] nerveharp commented on #1058
If not inside a virtual scroller, be more aggressive about rendering and image nesting.

[2022-01-06 19:39] nerveharp commented on #1063
Done as part of metadata-store work, but no status surfaced to user. Addressing in [hm/landscape-optimizations](https://github.com/urbit/urbit/tree/hm/landscape-perf-optimization)

[2022-01-06 19:39] #1063 closed

[2022-01-06 19:40] #1067 closed

[2022-01-06 19:42] nerveharp commented on #1070
Doing this correctly may involve a presence indicator for the current channel (taking browser tab into account as well).

[2022-01-06 19:43] nerveharp commented on #1071
Use better edge-detection/collision library for this (`radix-popover` or the like).

[2022-01-06 19:45] nerveharp commented on #1074
Can be addressed by CORS or SSL-everywhere. Hopefully we get to a point where we can put images in the loom, but still an issue until then.

[2022-01-06 19:49] nerveharp commented on #1092
Done; refinements captured elsewhere.

[2022-01-06 19:49] #1092 closed

[2022-01-06 19:51] nerveharp commented on #1103
Fixed, closing.

[2022-01-06 19:51] #1103 closed

[2022-01-06 19:53] nerveharp commented on #1104
Possibly fixed.

[2022-01-06 19:53] #1104 closed

[2022-01-06 19:54] nerveharp commented on #1105
On navigation, we trigger a page-load; if the channel gets kicked, we have to re-establish the data but we don't re-request it. @liam-fitzgerald looking into a 1-line fix.

[2022-01-06 19:58] nerveharp commented on #1106
Will handle during a more robust renovation of the Notebook editor.

[2022-01-06 19:58] #1106 closed

[2022-01-06 20:03] #1037 closed

[2022-01-06 20:40] e-shee commented on #1012
I propose the following edits:

Group Notifications to remain named as such.
"Notify me on group activity" to be edited to "Notify me on participant activity"
"Send me notifications when this group changes" to be edited to "When a user joins or leaves this group, let me know" OR "When a user joins or leaves this group, send me a notification"
(When on/off toggled) "Done" to be edited to "Saved"

H

[2022-01-07 13:41] #1235 closed

[2022-01-07 13:41] #1237 closed

[2022-01-10 03:47] marisarow opened #1359 "SW Distribution Bugs (1/3)"
**Describe the bug**

UX - not easy to search for applications, confusing to search for provider versus application, we can make some UI/UX changes to make that explicit. currently, we prompt users to search ~dister-dozzod-dozzod to get started, without explaining much else.

**Expected behavior**

This is a design issue.

**Operating context**
 - Device: MacBook Pro (14-inch, 2021)
 - OS: MacOS M

[2022-01-10 03:55] marisarow opened #1360 "garden: no indication for software provider search progress"
**Describe the bug**
Searching for known @p for sw distributor results in either:
1) no software (suspected that the lag in this case is just quite long)
2) lag such that user expects that there is nothing to download for that @p (takes several minutes)

The same search over several minutes shows different results:

<img width="1040" alt="Screen Shot 2022-01-09 at 7 42 30 PM" src="https://user-ima

[2022-01-10 14:14] nerveharp commented on #1360
Kicking to design for copy considerations etc.

[2022-01-10 14:15] nerveharp commented on #1359
Kicking to design for further considerations.

[2022-01-10 18:18] marisarow opened #1361 "Reply in 1-1 DMs broken"
**Describe the bug**
In DMs between two individuals, the reply button does not work. When clicking 'reply', nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 1-1 dm
2. Click on menu next to dm, click reply
3. See error

**Expected behavior**
I'd expect reply to work as it does in group DMs.

**Operating context**
 - Device: MacBook Pro (14-inch, 2021)
 - OS: MacOS Monter

[2022-01-10 18:19] marisarow commented on #1130
I just experienced this on MacOS and created a new ticket: https://github.com/urbit/landscape/issues/1361

[2022-01-10 20:23] nerveharp commented on #1130
@urcades Do you remember if this was endemic to chat channels or did it extend to DMs as well? August was a long time ago, but in case this has a special place in the memory palace...

[2022-01-10 20:38] urcades commented on #1130
@nerveharp unfortunately I can't recall if I ever experienced this in a DM — it definitely was something I'd encounter every so often in chats though — at one point I had a hunch that it may have related to unfurled references/embeds but I never got around to reproducing, will be on heightened awareness for this issues

[2022-01-10 20:47] arthyn commented on #1149
@nerveharp I'm pretty sure this has been fixed since because I've received DMs from Josh, and I don't think we've seen similar reports

[2022-01-10 20:48] #1149 closed

[2022-01-10 22:15] marisarow opened #1362 "Cannot read properties of undefined (reading 'vip')"
Was trying to join a group from a link in a channel. Upon clicking return, I ended up back in the channel with the join group modal opened. Clicking 'join' does nothing.

However, upon returning to Landscape, I can now see that the group has been joined.

[code]

[2022-01-11 03:59] tinnus-napbus opened #1363 "links show embed drop-down even when landscape can't render them"
**Describe the bug**
If you link to eg instagram it renders like an embed but won't load when you click to expand it. Idk actually if this is a bug where it should be able to embed such things but if not, it should not embed-ify links it can't actually embed.

**To Reproduce**
Steps to reproduce the behavior:
1. Post instagram link
2. try expanding the resulting link
3. it don't work

**Expected b

[2022-01-13 02:19] arthyn opened #1364 "First load after cleared storage shows all channels unjoined"
Loading Groups after clearing storage seems to not load joined channel data until refreshing the page.

[2022-01-13 05:02] thelifeandtimes commented on #1354
I have this same issue, which persists even in the event of kicking a ship and reinviting (vs. solely sending additional invites).

[2022-01-13 05:25] hansel-ribbur commented on #1354
also having this issue. can dm/hi ship in question, but they can't join my group

[2022-01-13 17:50] arthyn commented on #1357
@liam-fitzgerald might need your help here, because I'm not even sure where to begin looking for this.

[2022-01-13 18:43] liam-fitzgerald commented on #1357
can you `|hi` the counterpart?

[2022-01-13 19:14] nerveharp commented on #1115
Almost certainly fixed by this point.

[2022-01-13 19:14] #1115 closed

[2022-01-13 19:28] nerveharp commented on #1128
For clarity, visiting the DM in question should clear the notification dot, not DMs _in general_.

[2022-01-13 19:37] rivpyl-sidfyl commented on #1115
@nerveharp  i still have it actually - lmk if there's anything i can do to troubleshoot

[2022-01-13 19:44] nerveharp commented on #1132
Put the hosting ship "somewhere" in this list.

[2022-01-13 19:50] nerveharp commented on #1135
We time-box DMs differently now, so this is no longer an issue.

[2022-01-13 19:50] #1135 closed

[2022-01-17 18:50] rabsef-bicrym opened #1365 "Testing this \`\`\` here. produces Testing this ``` here.`"
**Describe the bug**
"Testing this \`\`\` here." entered into any chat renders as follows:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enter any chat.
2. Enter the following text string, save quotes: "Testing this \`\`\` here."
3. Review displayed print
**Expected behavior**
No additional tic at the end.

[2022-01-17 18:51] rabsef-bicrym commented on #1365
I dunno how to escape markdown in the title so sorry about that.

[2022-01-18 03:01] belisarius222 opened #1366 "leap search error"
![image](https://user-images.githubusercontent.com/874741/149863356-e1919a6f-5098-4b56-8e30-af7437bc7a9f.png)

When I try to search for an app on someone else's planet, this happens.  I don't remember exactly which step it was, but now even after reloading the page, it shows this error.

A further problem is that I can't click out of this modal error page.  I can either submit an issue or try agai

[2022-01-20 19:07] nerveharp commented on #1143
May be related to either using server time (delivered vs sent) or not using time zones.

[2022-01-20 19:09] nerveharp commented on #1144
Front-end would be hard, but back-end would be easy.

[2022-01-20 19:11] nerveharp commented on #1146
Easy to do if we use settings-store (gross) or local storage (despicable).

[2022-01-20 19:14] nerveharp commented on #1147
Should likely include the case for overly-long nicknames (validate the form in the profile settings and the request/response in the mark).

[2022-01-20 19:15] nerveharp commented on #1148
We have plans to remove the "Share private profile?" banner anyways, but will make sure that this error doesn't crop up either way.

[2022-01-20 19:19] nerveharp commented on #1150
Let's plan to validate this on the input side, rather than on display or in the parsing.

[2022-01-20 19:21] nerveharp commented on #1152
@arthyn added a fix to prevent this from happening (), but can you verify that this is still an issue for you, @artkaste?

[2022-01-20 19:24] nerveharp commented on #1153
We currently jump through a bunch of hoops to make this happen, so @liam-fitzgerald believes this is fixed? @urcades can you still reproduce?

[2022-01-20 19:29] nerveharp commented on #1160
Is symptomatic of a much larger issue; we need a better story about how we send state and reconcile delivery of messages. Maybe moving towards a gossip-style message delivery is the solution, but either way--this is a much larger issue and we should keep it in mind as a quarter-sized project.

[2022-01-20 19:31] arthyn commented on #1152
Looks like fix was deployed in https://github.com/urbit/urbit/releases/tag/groups-v1.0.1

[2022-01-20 19:37] nerveharp commented on #1162
Quoth @liam-fitzgerald:

[2022-01-20 19:42] nerveharp commented on #1164
![image](https://user-images.githubusercontent.com/748181/150410704-f2f46cbc-96dc-489c-824a-005521420766.png)

[2022-01-20 19:42] #1164 closed

[2022-01-20 19:43] arthyn commented on #1152
Closing until we hear back

[2022-01-20 19:43] #1152 closed

[2022-01-20 19:46] nerveharp commented on #1174
Looks like the work is encapsulated in landscape#1213, can you confirm @urcades?

[2022-01-20 19:49] nerveharp commented on #1182
Let's talk through the particulars of this one again, @arthyn and @urcades. I think are several half-steps in here that make sense.

[2022-01-20 19:51] nerveharp commented on #1183
Will be good to build this functionality into %garden and then backfill Groups to look at that preference object.

[2022-01-20 19:56] nerveharp commented on #1186
Let's do this, it's easy.

[2022-01-20 19:56] nerveharp commented on #1195
We're just going to rip this out altogether.

[2022-01-20 19:57] nerveharp commented on #1191
This system is now extremely optimistic, so should be fixed.

[2022-01-20 19:57] #1191 closed

[2022-01-20 19:59] nerveharp commented on #1193
We fixed this, I believe -- but this may be symptomatic of @simfur-ritwed's pervasive group-joining. (Investigate this further; might be in the flag).

[2022-01-20 20:43] tylershuster commented on #1342
I've been unable to join groups with my star or planet for about 6 months now. Hi guys!

[2022-01-21 00:30] urcades commented on #1195
Yes, perfect — we already have this situated in the join interface.

[2022-01-21 00:32] urcades commented on #1174
@nerveharp confirmed — let's kill this dropdown

[2022-01-21 12:07] Fang- commented on #1147
Even with backend changes, frontend should probably recognize values that are "unrenderable" in one way or another, and replace them (with the `@p`?) instead of showing as-is.

[2022-01-21 18:51] dillon commented on #1362
Same issue here. Happens on my own groups/channels as well

[code]

[2022-01-21 22:04] nerveharp commented on #1342
@tylershuster We miss you!

[2022-01-22 02:54] conradconrad opened #1367 "Minified exception occurred"
[code]

[2022-01-23 05:23] galenwp opened #1368 "Edit a link"
**Problem**
I want to add a title to a link after adding it, but I can't

**Proposed Solution**
Having an 'edit link' option under the ellipsis would be great. Then I could add a title later. This would probably involve injecting the edit interface for the link inline, which could feel a little weird—but it'll probably be fine.

**Possible Alternatives**
You could also somehow repurpose the input

[2022-01-23 06:12] ripnyt-ripnyt opened #1369 "Landscape won't render, unexpected token '<'"
**Problem**

Grid loads however Landscape doesn't render when trying to access it. console log shows `uncaught syntax error: unexpected token'<' in index.js:1

**Additional context**

This behavior is observed after replaying event logs, melding to reduce memory use, and restarting the planet.

other issues observed: webterm doesn't work either, with unexpected token and another error: `Failed to

[2022-01-23 06:53] ripnyt-ripnyt commented on #1369
this happens in chrome and brave, and recently cleared cache.

[2022-01-23 07:15] ripnyt-ripnyt commented on #1369
just adding notes when i find something that might help troubleshoot - navigating to https://ripnyt-ripnyt.science doesn't automatically redirect to /apps/grid/ like expected.

[2022-01-23 08:01] ripnyt-ripnyt commented on #1369
tried running this, no worky

[code]

[2022-01-23 19:38] ripnyt-ripnyt commented on #1369
tried `:goad %force`, no luck, gall says that it isn't running goad

[2022-01-23 23:30] nerveharp commented on #1147
@Fang- I wouldn't even entertain a back-end solution for this during the first go-around.

[2022-01-24 01:17] galenwp opened #1370 "Save links layout"
**Problem**
I have a link collection that looks much better as a list, but every time I visit it it's a grid.

**Proposed Solution**
Let me set the 'default view' of a link collection

[2022-01-24 01:19] galenwp opened #1371 "Let me add just text in a collection"
**Problem**
It'd be nice to be able to add arbitrary text to a collection that doesn't have to be a link

**Proposed Solution**
Just let me add some text. A title and body would be kind of cool.

[2022-01-24 14:00] arguser opened #1372 "Inconsistencies with communication through Groups"
**Describe the bug**
Unable to join specific groups and/or channels, receive and post messages to them.
I started to notice no new messages on Chat channels, I dot posted and was confirmed witnessing via DM, but on the channel my dot was not getting sent nor new messages were getting in. Tried to leave and rejoin, but was unable to rejoin the channels. All of these inconsistencies happen on some G

[2022-01-24 14:53] nerveharp commented on #1372
@liam-fitzgerald Can you take a look?

[2022-01-24 15:02] #1352 closed

[2022-01-24 18:35] arthyn commented on #1366
@belisarius222 what hash is your garden?

[2022-01-24 18:37] arthyn commented on #1367
@conradconrad can you send more details about what happened when you got this error and also the current cz hash of %garden from running `+vats`?

[2022-01-24 19:06] arthyn commented on #1369
@ripnyt-ripnyt have you tried suspending and resuming groups from the grid interface?

[2022-01-24 20:33] #1138 closed

[2022-01-24 20:35] arthyn commented on #1277
Addressed by group join refactor

[2022-01-24 20:35] #1277 closed

[2022-01-24 21:18] ripnyt-ripnyt commented on #1369
the grid interface wasn't able to suspend successfully, so I did it via dojo using `|suspend %landscape` followed by `|revive %landscape` and I got this ```gall: %graph-pull-hook dozing, got %raw-fact
gall: %graph-pull-hook dozing, got %raw-fact
gall: reviving %metadata-store
gall: reviving %contact-store
gall: reviving %chat-store
gall: reviving %graph-store
gall: reviving %group-store
gall: revi

[2022-01-24 21:19] ripnyt-ripnyt commented on #1369
and no change in behavior

[2022-01-24 21:47] arthyn commented on #1369
Yeah it kinda seems like your ship is having trouble downloading the glob

[2022-01-24 22:12] conradconrad commented on #1367
I had just installed Studio and attempted to reopen search. I can't reproduce it now. garden %cz hash:         0vu.se518.n60al.4e50i.ggn8o.3jobs.fshg0.qfulk.k2btr.9b06g.ckq2e

[2022-01-24 22:20] arthyn commented on #1367
Is it possible that your ship was really behind and recently updated? I think this is an old bug that has been fixed.

[2022-01-24 23:32] ripnyt-ripnyt commented on #1369
*summons team never breach*

[2022-01-25 04:52] belisarius222 commented on #1366
It was old.  Updating now, and then we'll see if this is still an issue, but my guess is it'll go away.

—
~rovnys-ricfer
https://urbit.org

On Mon, Jan 24, 2022 at 12:36 PM, Hunter Miller < ***@***.*** > wrote:

[2022-01-25 17:45] nerveharp opened #1373 "DMs: no disambiguation between moons in sidebar"
A fun "dug" for someone: our DM sidebar doesn't show the difference between moons from the same planet.

In this case, I'm DMing with both `~ranbet-pallen-nocsyx-lassul` and `~paswel-pasben-nocsyx-lassul`, both under `~nocsyx-lassul`.

![image](https://user-images.githubusercontent.com/748181/151030329-863566a3-f4a0-4110-85ee-c7b5ffd63d27.png)

Unhelpfully, I'm not quite sure what the solution is,

[2022-01-25 21:22] drunkplato commented on #1366
For me, I ran `|install ~litzod %garden` and this updated to the newest version and fixed the issue.

[2022-01-25 22:37] conradconrad commented on #1367
It was probably a few days behind.

[2022-01-25 23:11] arthyn commented on #1366
Yeah sounds like that's what it is I'll close. If update doesn't work, we can reopen.

[2022-01-25 23:11] #1366 closed

[2022-01-25 23:11] arthyn commented on #1367
Yeah sounds like that's what it is I'll close. If you see it again, we can reopen, thanks!

[2022-01-25 23:11] #1367 closed

[2022-01-26 14:42] nerveharp opened #1374 "groups: non-issued fix omnibus"
For tracking purposes.

- urbit/urbit#5519
- urbit/urbit#5489
- urbit/urbit#5485
- urbit/urbit#5536

[2022-01-26 14:51] nerveharp commented on #1270
@Fang- Noticing this now during testing, although I can't seem to make highlighting work at all. I know the difference in text treatment is subtle, but I see a crosshairs cursor and that's about it.

[2022-01-26 14:52] nerveharp commented on #1110
I can now no longer delete messages in a DM.

![image](https://user-images.githubusercontent.com/748181/151186170-1892c28c-8091-43e6-84e4-480a3bc41a11.png)

[2022-01-26 14:54] nerveharp commented on #1331
![image](https://user-images.githubusercontent.com/748181/151186558-e38979e4-06c6-4c09-a809-372adc012eb4.png)

Gone.

[2022-01-26 15:20] nerveharp commented on #1342
Fixed by urbit/urbit#5536

[2022-01-26 15:20] #1374 closed

[2022-01-26 15:29] nerveharp commented on #1362
I think there may be a UX issue here at work as well.

Clicking a link from within a channel, I get this popup:
![image](https://user-images.githubusercontent.com/748181/151192642-ace7b8c6-e26e-49c2-b38b-e8dd43b9cc61.png)

I click "Join":
![image](https://user-images.githubusercontent.com/748181/151192688-2c513286-588e-4c21-b0bb-b59a39904b10.png)

It joins:
![image](https://user-images.githubuserc

[2022-01-26 20:40] harmolipi opened #1375 "Error “Cannot read properties of undefined (reading 'length')” when trying to edit profile on new planet"
**Describe the bug**
Until now I've been using Urbit fine with a free comet, but someone just gave me a planet. After claiming it and setting it up with the key file the first time, I started it and went into Landscape - but things don't seem to quite be working. When I go to my profile and click to edit, I get the error `“Cannot read properties of undefined (reading 'length')”` with the following

[2022-01-27 01:52] simfur-ritwed commented on #1357
I have DMed them, will see if they respond. The original DM has *not*
arrived in my inbox.

On Mon, Jan 24, 2022 at 12:37 PM Hunter Miller ***@***.***>
wrote:

--

~simfur-ritwed

https://urbit.org

[2022-01-27 14:35] harmolipi commented on #1375
I'm not sure what happened, but a few hours later everything was working perfectly. Perhaps I just didn't give it quite enough time to get settled. Problem solved!

[2022-01-27 14:35] #1375 closed

[2022-01-27 16:51] #242 closed

[2022-01-27 16:51] #761 closed

[2022-01-27 17:27] minderfolden opened #1376 "Double Tilde"
**Describe the bug**
Profiles won't load because there are two tildes in the URL + the profile name.

![image](https://user-images.githubusercontent.com/51895363/151411074-65133f12-da58-495c-90fd-0f0229707749.png)

**To Reproduce**
Steps to reproduce the behavior:
Clicking a profile from notifications takes me to their profile, but it adds an extra tilde. If I delete the tilde from the URL, then i

[2022-01-27 19:13] nerveharp commented on #1198
We have decided that a textual refactor of the reference/mention notification may be more helpful here, in addition to the visual sugar @urcades suggested.

[2022-01-27 19:15] #1206 closed

[2022-01-27 19:18] nerveharp commented on #1208
We'll try reproducing.

[2022-01-27 19:19] nerveharp commented on #1373
Tooltip for full moon ~patp and/or nickname on individual moon names could suffice (similar to how we do CalmEngine ~patp -> hover -> see nickname).

[2022-01-27 19:21] nerveharp commented on #1372
This is desync and supposed to be fixed in the near future. There's a patch for this that's been in the weeds for about six months -- see urbit/urbit#5060

[2022-01-27 19:21] #1372 closed

[2022-01-27 19:24] nerveharp commented on #1371
If we change the type of the validator, this could be easy, if it's actually just plain text (no title, no Markdown, etc). If we want anything more, it will be quite difficult and verging on an embedded Notebook post.

[2022-01-27 19:27] nerveharp commented on #1369
Might be a 400-range errorcode that we're coercing into 504. May be solved via clay tombstoning, but @ripnyt-ripnyt if you continue to run into trouble, feel free to keep this thread updated.

[2022-01-27 19:29] nerveharp commented on #1368
Impossible to do, unfortunately -- all data in %graph-store is referentially transparent. The workaround is to delete and then repost.

[2022-01-27 19:29] nerveharp commented on #1368
I should keep this open. Sorry, @galenwp.

[2022-01-27 19:32] nerveharp commented on #1365
Solve for unescaped/no line-before ``` code blocks.

[2022-01-27 19:32] Fang- commented on #1368
fwiw, we can edit notebook posts by adding new revisions in a subgraph. So you don't strictly _need_ to delete and repost, but collection semantics just don't allow this right now.

[2022-01-27 19:50] nerveharp commented on #1222
Breaking out into a set of stories that:

1. Refactors this modal anyways, and
2. Incorporates this loading behavior.

[2022-01-27 19:53] nerveharp commented on #1224
urbit/landscape#1282

[2022-01-27 19:53] #1224 closed

[2022-01-27 19:54] nerveharp commented on #1229
Let's bring the little yellow bug fren back :)

[2022-01-27 19:55] #1240 closed

[2022-01-27 19:56] nerveharp commented on #1245
We flip the lightness with a threshold, and we can try upping the threshold.

[2022-01-27 19:58] nerveharp commented on #1248
Implement the same clog behavior as we have in Groups.

[2022-01-27 20:01] nerveharp commented on #1254
Fixed: having unreads made the interface think the subscription still existed.

[2022-01-27 20:02] nerveharp commented on #1255
Good to do for someone to get exposure to subscription handlers.

[2022-01-27 20:14] nerveharp commented on #1329
urbit/landscape#1331

[2022-01-27 20:14] #1329 closed

[2022-01-27 20:19] nerveharp commented on #1270
Highlighting now works _and_ is visually-differentiated. You may have to hold down shift or alt (depending on your system); ctrl+C may or may not work (workaround is to right click -> copy).

[2022-01-27 20:21] nerveharp commented on #1376
Desig error in notifications. :)

@minderfolden Is the notification in question you're clicking in Groups, or in the Landscape app launcher?

[2022-01-27 20:46] minderfolden commented on #1376
I'm clicking on the @p in the notification which pops up this modal, then I'm clicking on the @p circled in lime green here:
![image](https://user-images.githubusercontent.com/51895363/151440860-01c5bb55-fe6a-4909-ba88-cce347195205.png)

[2022-01-27 21:29] nerveharp commented on #1376
@minderfolden Thank you!

[2022-01-28 00:21] galenwp commented on #1368
idk, yeah, just seems like a feature we probably want? i think this came up when i just wanted to be able to edit the title. i doubt that changes the situation.

[2022-01-28 00:22] galenwp commented on #1371
hm, yeah fair point. don't really need markdown. wouldn't the markdown be rendered client side though? do we validate markdown?

[2022-01-28 12:20] nerveharp commented on #1368
Absolutely, seems reasonable enough, just technically impossible at the moment. (My least favorite answer to give, trust me.)

I wonder if we need a more generic graph-object class that supports arbitrary key-value pairs and rendering is left to the templates themselves.

We have more Groups work lined up, let's take it under consideration there.

[2022-01-28 15:13] arguser commented on #1372
Thanks @nerveharp is it advised to wait for merge or can I try something to solve my particular case?

[2022-01-28 18:48] travisbyrne opened #1377 "Disabling then re-enabling Group Feed removes content"
If you disable a group feed, and then re-enable it, any of the posts and replies within are no longer there.

Steps to reproduce the behavior:
1. Have content in a Group Feed
2. Click on the "Group Settings" cog
3. Toggle Group Feed to disable
4. Toggle Group feed to enable
5. Observe the disappearance of all content in the Group Feed

**Expected behavior**
Was led to believe that this content wou

[2022-01-28 19:07] ripnyt-ripnyt opened #1378 "Minified exception occurred"
[code]
This error occured when I attempted to add a new group to a fresh comet's subscriptions and I typed the host ship's name in wrong.

[2022-01-28 19:34] ripnyt-ripnyt commented on #1369
is clay tombstoning something that I can do myself? if it's not ready then I'll just breach and get back to where I was before

[2022-01-28 22:04] fischerando opened #1379 "Unjoined from channels and cannot rejoin"
**Describe the bug**
I have been unjoined from all of the channels I had previously been a part of, but I'm still seeing unread counters for those groups on the Groups main page. When I try to rejoin any channels, it just spins forever.

**To reproduce**
Steps to reproduce the behavior:
1. Open Groups
2. See little gray "unread" numbers and click on that group
3. Notice that all the channels show

[2022-01-28 22:07] #1379 closed

[2022-01-28 22:08] fischerando commented on #1379
Suspending and restarting Groups fixed the problem.

[2022-01-29 00:34] nerveharp commented on #1372
@arguser I think it's safe to say waiting for merge is probably the easist thing to do, but annoying in the short-term. I will track down the status of that change and see if we can get it reviewed and deployed sooner than later.

[2022-01-29 00:54] dillon opened #1380 "Minified exception occurred"
can't pull up leap from grid
[code]

<img width="857" alt="Screen Shot 2022-01-28 at 7 55 04 PM" src="https://user-images.githubusercontent.com/8380979/151640236-459b6a35-6f9d-4654-915c-226083a76582.png">
d

[2022-01-29 01:27] dillon commented on #1380
also an issue with joining groups
<img width="533" alt="Screen Shot 2022-01-28 at 8 26 08 PM" src="https://user-images.githubusercontent.com/8380979/151641927-3e22ca94-fe80-4fe9-a347-09384d7b9f87.png">

[2022-01-29 02:04] dillon commented on #1380
I think the groups issue ended up being that it was a private group.

[2022-01-29 05:58] simfur-ritwed commented on #1357
Update: we are indeed able to DM with each other now, but the original DM
never arrived. If anyone working on this issue needs the pat-p of the
respondent, please DM me for it given privacy etc.

On Wed, Jan 26, 2022 at 5:51 PM Nick Simmons ***@***.***> wrote:

--

~simfur-ritwed

https://urbit.org

[2022-01-29 17:35] tylershuster commented on #1342
This fixed the modal for me, but it doesn't actually fix my issue joining groups

[2022-01-30 01:46] nerveharp commented on #1342
@tylershuster Which groups? You can also DM me at ~rilfun-lidlen if you're not comfortable sharing. We're currently looking at ~bitbet-bolbel.

[2022-01-30 01:51] tylershuster commented on #1342
Er, any of them. ~paldev/group and U-C have been my tests. I can DM you when I get home, or feel free to reach out on the network

T

[2022-01-31 15:52] Fang- commented on #79
I don't think this is fixed yet? Spellcheck happens in notebook comment forms, but I don't see it anywhere else, even after toggling the new setting on and off again. (Do agree this should just silently follow the user-configured browser/os-level behavior though, like "native" inputs would.)

[2022-01-31 16:09] Fang- commented on #1369
@nerveharp what makes you suspect tombstoning would resolve this?

@ripnyt-ripnyt we should check what it's trying to download. Can you run `+cat /=landscape=/desk/docket-0` in dojo and paste the output here? Also have you tried `|install (sein:title our now our) %landscape` yet, in case you don't have latest?

Along with a `400` error, this should also include a little message in the response bod

[2022-01-31 16:11] Fang- commented on #1357
Sharing for the record, also had an instance of this, but looking at the dm scrollback now, the first message (that I had originally not received) is there at the start now. Curious.

[2022-01-31 16:49] nerveharp commented on #1369
@Fang- Came up in backlog grooming

[2022-01-31 19:58] dillon commented on #1380
This seemed to have been resolved by rebooting my planet.

[2022-01-31 19:58] #1380 closed

[2022-01-31 21:32] nerveharp commented on #1377
Quick fix is to change copy to reflect the "removed" state, rather than the "archive" action. Higher-effort solve is to mark as "removed," then bring it back on re-enable. Deletion was the intended behavior.

[2022-01-31 21:34] nerveharp commented on #1378
Validate the sig!

[2022-01-31 23:21] ripnyt-ripnyt commented on #1369
I actually ended up breaching, needed to get back online with a planet, sorry @Fang- ! I will keep this in mind in case it happens again.

[2022-01-31 23:21] #1369 closed

[2022-02-01 14:04] nerveharp opened #1381 "groups: cannot join some channels"
- L2 ship, self-hosted
- Can join groups, but can't join some channels
- term trace:

[code]

[2022-02-02 23:29] albill opened #1382 "Landscape and Grid are empty on Firefox"
**Describe the bug**
Running an up to date (newly installed and updated) urbit install, the default grid and landscape pages are completely blank on Firefox 96.0.3 (current) but work fine in Chrome.

Landscape HTML source shows the following in Firefox:
[code]

Grid HTML source shows the following in Firefox:
[code]

**Operating context**
 - Device: Macbook Air M1
 - OS: MacOS 12.0.1
 - Browser: F

[2022-02-03 05:11] ynx0 opened #1383 "Navigating to a DM from Grid notifications fails without warning."
**Describe the bug**
Title. Groups loads, but does not redirect.

**To Reproduce**
Steps to reproduce the behavior:
1. Get dm notification
2. Click on notification in Grid
3. Get new tab Groups to appear, with the dm redirect in the url params
4. Observe no redirect
5. Console errors

**Operating context**
 - Device: Laptop
 - OS: NixOS
 - Browser Firefox
 - Groups: `8as22`, System: `ne5ad`

**Add

[2022-02-03 11:31] igorblomberg opened #1384 "Groups stuck on "installing" after upgrade"
My Groups app got stuck on "installing" the last OTA. Deleted it and tried to reinstall, still gets stuck.

![Screen Shot 2022-02-03 at 12 18 57](https://user-images.githubusercontent.com/38886567/152334075-b3f85860-11f4-47d6-8211-812d77d9e7d4.png)

1 Delete Groups
2 Reinstall through ~dister-dozzod-dozzod

Running Port 1.7.1 on Mac os 10.15.7

[2022-02-03 19:06] arthyn commented on #1260
Perhaps this is related to a memory leak that was happening at the time that has since been resolved, but we'll check it out.

[2022-02-03 19:11] arthyn commented on #1263
Dupe of #1258, closing

[2022-02-03 19:11] #1263 closed

[2022-02-03 19:13] arthyn commented on #1264
Dupe of #1199 closing

[2022-02-03 19:13] #1264 closed

[2022-02-03 19:16] #1270 closed

[2022-02-03 19:18] arthyn commented on #1274
Fix was deployed for this

[2022-02-03 19:18] #1274 closed

[2022-02-03 19:20] arthyn commented on #1276
Try running this in the dojo and let us know if you still have issues `:graph-pull-hook +kick, =nice |`

[2022-02-03 19:23] arthyn commented on #1280
Closing until we hear more reports, may already be fixed.

[2022-02-03 19:23] #1280 closed

[2022-02-03 19:24] arthyn commented on #1291
Deployed a fix, reopen if you still see this.

[2022-02-03 19:24] #1291 closed

[2022-02-03 19:24] arthyn commented on #1286
Deployed a fix, reopen if you still see this.

[2022-02-03 19:24] #1286 closed

[2022-02-03 19:27] simfur-ritwed opened #1385 ""x New Messages Since Yesterday" returns to the wrong point in chat"
When navigating anew to a chat with new messages, and clicking on the "x New Messages since Y" popup, the user is sent to a point well before the unread messages in the intervening interval actually began.

Also (maybe related?) even when one is actively in the chat, the new message popups continue to read "since Yesterday" even though obviously they occurred in the past few minutes.

System: Chro

[2022-02-03 19:31] #1300 closed

[2022-02-03 19:32] arthyn commented on #1301
@rabsef-bicrym is working on this

[2022-02-03 19:38] arthyn commented on #1319
Fix for this should be deployed let us know if see it again.

[2022-02-03 19:38] #1319 closed

[2022-02-03 19:39] #1320 closed

[2022-02-03 19:39] arthyn commented on #1321
Fix for this has been deployed

[2022-02-03 19:39] #1321 closed

[2022-02-03 19:45] arthyn commented on #1324
Perhaps we can add some clarity when we do #1282 but this is likely just one ship replacing the protocol handler over the other which we can't really do anything about. The app loading should already be addressed.

[2022-02-03 19:45] #1324 closed

[2022-02-03 19:47] arthyn commented on #1325
Should look into this when we move the weather component

[2022-02-03 19:47] arthyn commented on #1327
This is likely fixed by our deploys in Dec/Jan, let us know if you're still seeing it.

[2022-02-03 19:47] #1327 closed

[2022-02-03 19:50] arthyn commented on #1334
Your ship is likely on an old version of Landscape and a subsequent OTA should resolve it if your sponsor is up to date.

[2022-02-03 19:50] #1334 closed

[2022-02-03 19:51] arthyn commented on #1335
This should be fixed now, let us know if you're still seeing it.

[2022-02-03 19:51] #1335 closed

[2022-02-03 19:53] arthyn commented on #1340
Fix for this was deployed, let us know if you still see it.

[2022-02-03 19:53] #1340 closed

[2022-02-03 19:55] arthyn commented on #1341
Fixed in latest deploy, let us know if you still see issues.

[2022-02-03 19:55] #1341 closed

[2022-02-03 19:57] arthyn commented on #1345
Fix was deployed for this, let us know if you're still seeing it.

[2022-02-03 19:57] #1345 closed

[2022-02-03 19:59] arthyn commented on #1348
@habsul-rignyr can you share any other information about the notebook/group this was in and are you still seeing this behavior?

[2022-02-03 20:00] arthyn commented on #1344
Same/similar to #1358

[2022-02-03 22:01] lycurgus commented on #1382
Anything in the javascript console (F12)? And any difference in behaviour in an incognito/private window?

[2022-02-03 23:50] albill commented on #1382
The screen is blank because of empty content. No, it isn't less blank in incognito mode. There is nothing in the console.

[2022-02-03 23:51] albill commented on #1382
When you use Firefox, does it all render?

[2022-02-04 05:43] lycurgus commented on #1382
Yep - everything seems normal for me on Firefox (96.0.3), on Arch Linux. Maybe a Mac thing...?

[2022-02-04 16:27] albill commented on #1382
Resolved. It was something local to my machine.

[2022-02-04 16:27] #1382 closed

[2022-02-05 03:48] simfur-ritwed commented on #1344
For some reason this is happening again for me.

[2022-02-06 07:25] urcades commented on #1129
@liam-fitzgerald and I did a bit of work a few weeks ago to address the "messaging"/copy element of this, so I'd consider it able to be closed out — I think "performance" is a "forever" project, so there's no need to let this one linger I think.

[2022-02-06 07:25] #1129 closed

[2022-02-06 07:29] urcades commented on #1071
I see this hasn't been status-updated in a long, long time, but big +1 to @nerveharp — this is a universal/blanket affordance all "popover-style" interfaces should adopt. If further spec'ing is needed at a later time, we can provide.

[2022-02-07 03:45] dnmfarrell opened #1386 "Ctrl-X does not toggle between apps in dojo"
**Describe the bug**
Pressing Ctrl-X at the dojo prompt has no effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh install of the Linux [urbit binary](https://urbit.org/install/linux64/latest) (v1.8)
2. Boot a fresh ship
3. Press Ctrl-X

**Expected behavior**
The prompt to change from `:dojo>` to `:chat-cli/`.

**Operating context**
 - Laptop and server
 - Ubuntu 20 & Debi

[2022-02-07 03:52] dnmfarrell opened #1387 "Unable to join Urbit Community chat from dojo"
**Describe the bug**
I'm unable to join a chat following the [official instructions](https://urbit.org/using/os/messaging#joining-a-chat).

**To Reproduce**
1. Boot a fresh ship
2. At the dojo prompt type:
[code]

**Operating context**
Linux Server
Debian 10
Bash 5.0
Urbit 1.8

[2022-02-07 23:55] Fang- commented on #1386
As of the software distribution update, chat-cli is no longer linked into the terminal session by default. So, needing to `|link %chat-cli` manually is known and intended behavior.

If there's still docs anywhere that suggest otherwise, that's a docs bug! But closing this as non-issue. Thanks for filing though. (:

[2022-02-07 23:55] #1386 closed

[2022-02-08 01:37] dnmfarrell commented on #1387
I also tried changing the code to match the `%join` tail:

[code]

[2022-02-08 01:40] urcades commented on #1153
@nerveharp after performing some tests here I'm thinking this is fixed, no repros on my end

[2022-02-08 07:09] hocwyn commented on #1381
A comet unable to join my group reported a similar error with ```subscribe wire not unique```. He was able to create a new comet and join without incident. (This is copy-paste of what he showed me, apologies if errors have crept in)

[code]

[2022-02-08 16:09] nerveharp commented on #1381
@liam-fitzgerald Can you take a look?

[2022-02-08 16:10] #1153 closed

[2022-02-08 16:49] galenwp opened #1388 "Groups silently drops the connection"
**Describe the bug**
Sometimes I come back to check in on groups and think, 'I'm sure someone sent me a message'. After a refresh, I have new notifications that indicate my connection was somehow dropped. I never see the 'Reconnect' icon. It'd be nice if Landscape could just quietly reinitialize the connection without needing a refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Open gr

[2022-02-09 15:23] galenwp opened #1389 "Joining unknown groups (in Groups) means they're permanently on my homescreen"
**Describe the bug**
I mistyped a group name and tried to join it. Now it's permanently at the bottom of my grid of groups. When I click on it, I do get a modal that tells me I 'do not have the correct permissions' but the 'Dismiss' button doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to join a group on a ship that exists, but with a group name that is invalid
2. Watch it

[2022-02-11 18:05] Fang- opened #1390 "Grefu"

[2022-02-11 18:05] #1390 closed

[2022-02-11 18:07] Fang- opened #1391 "Group DM invites with long names are unacceptable on smaller screens"
Behold:

<img width="933" alt="image" src="https://user-images.githubusercontent.com/3829764/153645550-813693eb-ca8b-4c5a-bb18-b13b2a2cdefb.png">

Zooming out, the buttons do come into view:

<img width="940" alt="image" src="https://user-images.githubusercontent.com/3829764/153645581-ba0e0342-81b3-4b32-97a5-69c340b81d25.png">

(Sorry about #1390 lol, I fat-fingered cmd+return instead of alt+backs

[2022-02-14 20:16] lycurgus commented on #1385
I think this is to do with embedded content (external images, graph references) loading after clicking the "x new messages" popup? I've noticed the same thing happening unless I let the chat load and then settle before clicking the popup.

[2022-02-14 21:13] arthyn commented on #1381
There's some ongoing work which should solve this urbit/urbit#5060

[2022-02-14 21:13] arthyn commented on #1383
@ynx0 can you send the notification link here?

[2022-02-14 21:16] arthyn commented on #1384
@igorblomberg can you run `:docket +dbug` in the terminal? if you can't access the terminal app you can go to manage in port to start your urbit in the terminal also

[2022-02-14 21:17] ynx0 commented on #1383
I can try if it occurs again, but honestly since it's been a while I don't think I'll be able to repro it anymore.

[2022-02-14 21:20] arthyn commented on #1387
@dnmfarrell looks like our docs are out of date, we'll get them updated

[2022-02-14 21:22] arthyn commented on #1389
We'll be deploying something to clear this up this week

[2022-02-15 17:12] mwvd opened #1392 "Manifest `theme-color` key doesn't affect Safari `theme-color` when user prefers dark mode"
**Describe the bug**
Manifest `theme-color` key doesn't affect Safari `theme-color` when user prefers dark mode

**To Reproduce**
1. Switch device to dark mode

Currently looks like this:
![Frame 1](https://user-images.githubusercontent.com/4127151/154112873-16f1cea6-4363-4c57-889c-934cff3c2704.png)

**Expected behavior**
Should look like this:
![Frame 2](https://user-images.githubusercontent.com/

[2022-02-17 21:26] simfur-ritwed opened #1393 "Impossible to add message or submit invites due to lack of scroller in group invites popup"
If one adds a large number of pat-ps to the "invite to <group>" popup, the 'send' button and the message field retreat out of view towards the bottom. Since there is no way to scroll inside this popup, it is thus impossible to send the invites or to add a message without removing names.
<img width="443" alt="no-scroll-invites-bug" src="https://user-images.githubusercontent.com/69221713/154573439-e

[2022-02-17 21:45] simfur-ritwed commented on #1393
This is the intermediate stage, btw:
<img width="413" alt="scroll-missing-intermediate" src="https://user-images.githubusercontent.com/69221713/154575957-20c4b5ec-b84a-4de3-a0a5-04dc186d9b5b.png">

[2022-02-18 04:12] eamsden opened #1394 "Notebooks: @p rendered with hard break"
**Describe the bug**
An @p in a notebook post will have a hard break following it, even if there is no newline.

**To Reproduce**
1. Create a notebook post
2. Write an @p followed by something else, like an apostrophe (to use an @p as a proper noun in possessive case:
`~master-morzod's`
3. Publish the notebook post.
4. The rendered version shows a hard break after the @p

![image](https://user-ima

[2022-02-18 14:31] habsul-rignyr commented on #1348
I breached shortly after this and haven't had the same issue.

[2022-02-18 14:31] #1348 closed

[2022-02-19 20:17] travisbyrne opened #1395 "Cannot delete DMs"
Used to be able to delete individual messages, don't see the option anymore (other ship reported same issue too).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any DM
2. Hover over message
3. No hamburger button to select delete

**Expected behavior**
In the past there was a button to delete

**Operating context**
 - Device: hosted ship
 - OS: hosted ship
 - Browser: Firefox ESR
 - L

[2022-02-20 22:56] lycurgus commented on #1395
This was actually removed recently: urbit/urbit#5535, in response to #1110. Because of the peer-to-peer nature of a DM conversation, your ship can only delete its copy of a message - it can't delete the other party's copy. The "delete" option was considered misleading because if you deleted a message only you would see it as deleted.

It seems like it would be possible to implement something simil

[2022-02-21 19:35] #1395 closed

[2022-02-22 21:23] nerveharp commented on #1342
A desync issue from @tylershuster:

[code]

[2022-02-23 03:30] marisarow opened #1396 "New group joining issue "You do not have correct permissions." for group I was invited to."
**Describe the bug**
Joining a group is hanging. This is a group I was invited to. When I click on the hanging group, I am presented with
<img width="440" alt="Screen Shot 2022-02-22 at 7 24 17 PM" src="https://user-images.githubusercontent.com/10634823/155257030-2f72903a-7fff-4181-9254-464e4486153a.png">

**Expected behavior**
Joining a group that I clicked an invite link to to work.

**Operating

[2022-02-23 21:51] velamvela opened #1397 "Can't Join Groups"
**Describe the bug**
I cannot join groups

Joining /ship/~darrux-landes/urbit-community failed
~darrux-landes
/urbit-community
You do not have the correct permissions

**To Reproduce**
Steps to reproduce the behavior:
1. Groups, join group
2. Type ~darrux-landes/urbit-community and click join group
3 See error

**Expected behavior**
Join the group

**Operating context**
 - Raspi4 running umbrel
 -

[2022-02-23 21:56] velamvela commented on #1397
I am also unable to get apps

Unable to find software developed by ~dister-dozzod-dozzod

[2022-02-23 22:17] #1397 closed

[2022-02-24 16:53] #1392 closed

[2022-02-25 20:50] nerveharp commented on #1388
Fixed by urbit/urbit#5611

[2022-02-27 05:33] saunic opened #1398 "Unable to join group"

[2022-02-28 17:45] #1376 closed

[2022-03-01 20:29] saunic commented on #1398
thank you 😊

[2022-03-03 16:25] patosullivan commented on #1361
@marisarow are you still seeing this issue in groups? I'm unable to reproduce it. We've also apparently done away with the DM menu recently, it's now just a reply button.

[2022-03-03 18:00] patosullivan commented on #1117
@simfur-ritwed Are you still seeing this issue?
@tomholford and I tried to repro, with both public and private group links in both DMs and group chats, couldn't reproduce it.

[2022-03-03 18:06] simfur-ritwed commented on #1117
No, haven't seen it in a while.

[2022-03-03 18:13] patosullivan commented on #1117
Thanks!

[2022-03-03 18:15] patosullivan commented on #1117
Oof, @simfur-ritwed that comment was actually intended for this ticket: https://github.com/urbit/landscape/issues/1140

[2022-03-03 18:20] simfur-ritwed commented on #1140
I have not seen this in several months.

[2022-03-03 18:21] patosullivan commented on #1140
Thanks!

[2022-03-03 18:21] #1140 closed

[2022-03-03 18:21] patosullivan commented on #1140
As noted on #1117 (accidentally), we can't repro this.

[2022-03-03 18:23] patosullivan commented on #1130
@urcades have you noticed this issue recently? Tried to repro it when looking into #1361, couldn't.

[2022-03-04 00:16] drunkplato opened #1399 "`window.ship` not being set in `App.js`"
**Describe the bug**
It looks like something with `window.ship` not being set in `App.js`

![image](https://user-images.githubusercontent.com/6413077/156673675-68e23f44-405d-42dc-a8e2-d681d17b039c.png)
![image](https://user-images.githubusercontent.com/6413077/156673706-87c91469-29e4-443a-b562-538775b58553.png)

*Include a screenshot or stack trace if possible.*

**To Reproduce**
Steps to reproduc

[2022-03-04 05:21] tomholford opened #1400 "groups: Unable to Archive group in Port"
# Context
When using Port, trying to archive a group results in the error pictured below. As a workaround, I logged into Groups in Brave and was able to Archive successfully.

This is because the Archive confirmation flow uses `window.prompt()` to confirm the operation, [which is unsupported by Electron](https://github.com/electron/electron/issues/472#issuecomment-60515607).

# Screenshot
![archiv

[2022-03-04 14:22] drunkplato commented on #1399
It seems as though the `%file-server` is not running.
[code]

Manually started with `|rein %landscape [& %file-server]` but no luck.

[2022-03-04 16:43] arthyn commented on #1400
So I actually did add prompt support for Port, what OS are you using?

[2022-03-04 16:44] arthyn commented on #1399
@drunkplato if you go to your urbit URL without `/apps/landscape` does it prompt you to login?

[2022-03-04 17:00] drunkplato commented on #1399
No, it's just blank. This is the error:

<img width="499" alt="image" src="https://user-images.githubusercontent.com/6413077/156806682-61e4f509-6634-4a60-b2bf-8b4fd4985842.png">

[2022-03-04 17:10] drunkplato commented on #1399
It seems no interactions work with my ship... the console on the `/apps/grid` shows this:
<img width="495" alt="image" src="https://user-images.githubusercontent.com/6413077/156809585-3eb2007e-fa47-4a0a-935f-15c63513f3a2.png">

[2022-03-04 17:11] arthyn commented on #1399
@drunkplato are you able to run something in the terminal? `+vats` might show us what's going on

[2022-03-04 17:17] drunkplato commented on #1399
Ran `+vats`:

[code]

[2022-03-04 23:15] arthyn commented on #1399
Can you try toggling updates for the system in the same place under system updates?

[2022-03-04 23:29] drunkplato commented on #1399
Yeah, no interaction is possible because of the 400 error. Essentially any poke gives this:

<img width="493" alt="image" src="https://user-images.githubusercontent.com/6413077/156855689-30a9c840-87c0-4b85-92be-7da52792bf53.png">

[2022-03-07 10:13] tinnus-napbus opened #1401 "Groups: parser adds closing tic after single tic even when escaped"
**Describe the bug**
If your message includes a single backtick, the input parser seems to add a closing backtick at the end of the message, making it inline code. This happens even if you escape the backtick like:

[code]
which results in the auto-added closing backtick being printed cos the opening one was escaped

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chat input
2. Type mes

[2022-03-07 13:19] tomholford opened #1402 "grid: App Info modal renders webgraph references like Groups"
The below screenshot is from the App Info modal in Grid.
![image](https://user-images.githubusercontent.com/16504501/157041478-8da082ff-8efd-4d5b-be92-8a902c0d5849.png)

It would be great if the website field was rendered like Groups for webgraph references:
![image](https://user-images.githubusercontent.com/16504501/157041903-0435ef0c-51f6-4048-a896-7ab6e2771fe2.png)

[2022-03-08 16:41] #1388 closed

[2022-03-08 16:41] #1389 closed

[2022-03-09 10:27] drunkplato commented on #1399
Okay, so I uninstalled landscape with `|uninstall %landscape` and reinstalled with `|install (sein:title our now our) %landscape` and got the following errors.

[code]

[2022-03-09 17:45] arthyn commented on #1399
Those are ok actually

[2022-03-09 18:16] #1361 closed

[2022-03-09 18:18] nerveharp opened #1403 "Add prettier for more consistent formatting"

[2022-03-09 18:43] nerveharp commented on #1186
@patosullivan I tend to leave these open until they're deployed.

[2022-03-09 18:45] #1130 closed

[2022-03-09 20:20] tomholford opened #1404 "groups: unable to join group when sig is not prepended"
# Issue

Attempting to join a group without a `~` prepended causes an error.

# Steps
1. Enter a group host/group-name without the `~`, e.g. `bitbet-bolbel /urbit-community` and click Join
![image](https://user-images.githubusercontent.com/16504501/157501733-6a45d336-bbb1-48e7-b8f2-d303bb4b3376.png)

2. Observe the stack trace in the console:
[code]

# Environment

Port v1.6.0
Groups 1.0.8

# Miti

[2022-03-09 21:03] ynx0 commented on #1383
@arthyn happened again. Can I dm it to you?

[2022-03-10 10:39] drunkplato commented on #1382
What was it? How did you solve? I have the same issue.

[2022-03-10 10:40] drunkplato commented on #1399
Well, before starting the fileserver I can't load anything. After starting the file-server, I can load the grid, but have the channeling errors. Landscape simply won't load. I've reset cookies and done the login flow with the `+code` a few times.

I am guessing the only option I have now is to breach, which sucks because I had quite a bit of data and various groups.

[2022-03-10 18:30] patosullivan commented on #1398
@saunic I think this may be related to https://github.com/urbit/landscape/issues/1404

are you sure that you had typed `~hiddev-donnut/new-hooniverse` with the sig? the error you're experiencing looks like the one I see when I try to join a group without the path being prepended by a sig.

[2022-03-10 19:14] patosullivan commented on #1399
@drunkplato have you tried running `:glob [%kick /'~landscape'/js/bundle]` ?

[2022-03-11 04:24] tomholford commented on #1400
Recently I upgraded Port to 1.8.0, I think I was a few versions behind when I ran into this issue. Tried again and it's now working as intended.

[2022-03-11 04:24] #1400 closed

[2022-03-11 15:15] drunkplato commented on #1399
This is what I get.

`gall: not running %glob yet, got %poke`

[2022-03-11 17:13] patosullivan commented on #1399
Hmm, this appears to be similar to https://github.com/urbit/landscape/issues/1369. Looking to see if anyone else has reported something like this.

[2022-03-11 17:17] patosullivan commented on #1399
Have you tried running `:goad %force`?

[2022-03-11 17:18] patosullivan commented on #1399
Found one other issue, though it doesn't provide any resolution: https://github.com/urbit/urbit/issues/5093

[2022-03-11 18:38] nerveharp commented on #1404
Conditional appending sounds good to me, similar to what we do with the login fields in Bridge.

[2022-03-11 19:12] drunkplato commented on #1399
Got this: `gall: not running %goad yet, got %poke`

[2022-03-11 21:54] simfur-ritwed opened #1405 "Word balloon icon for comments on Grid view in Collections is unclear as to clickability + destination"
In Grid view on Collections, a link itself appears with a clickable icon (but, logically, goes to the link itself, not the comments inside Urbit).

Hovering over the user-submitted link title (if any exists) produces a text cursor icon. Hovering over the comments icon (word balloon) produces an arrow cursor icon. Clicking on either takes one into the page view for that link (inside Urbit). However

[2022-03-12 05:38] divdus-tarnus commented on #1342
I'm seeing what seems to be related to this, and have not seen any change in behavior when running `:group-pull-hook +kick, =nice |` so far.

Joining most groups has worked so far, but I haven't been able to make it past "Retrieving members" on ~bitbet-bolbel
/urbit-community, the-forge, or a couple of other small (below 100 member) groups. I do seem to be getting data from the ships, but most res

[2022-03-14 14:31] patosullivan commented on #1399
@drunkplato can you try running `|suspend %landscape` followed by `|revive %landscape`?

[2022-03-15 11:24] drunkplato commented on #1399
Already did that. I tried just about everything... ended up breaching and got everything running again.

[2022-03-15 13:54] patosullivan commented on #1399
Oh, sorry to hear that. Hopefully you'll never have to do that again. Glad that you're back up and running.

[2022-03-15 13:54] #1399 closed

[2022-03-15 16:11] mrdomino opened #1406 "With nicknames disabled, DM message list @p entries with nick configured render in nickname font"
**To Reproduce**
Steps to reproduce the behavior:
1. Disable nicknames.
2. Message someone with a nickname configured.
3. Open the messages list.
4. In the sidebar, their `@p` shows up in the nickname font, not monospaced

**Expected behavior**
All `@p`s should render in the same font if nicknames are disabled.

**Operating context**
 - OS: MacOS Monterey
 - Browser: Brave
 - Landscape Version: `a

[2022-03-15 16:48] arthyn commented on #1117
I saw this recently, but unfortunately can't remember conditions around it.

[2022-03-15 18:29] arguser commented on #1372
Another issue I'm having with my ship is not being able to install apps:

[code]

App stuck on "installing" on grid

![image](https://user-images.githubusercontent.com/136487/158446877-3f19ced1-642c-48a5-a6ee-847d6128a05d.png)

[2022-03-15 18:43] arthyn commented on #1357
So I just saw an instance of this and it seems like my channel was clogged but was not reconnecting either. So I was able to click accept on the DM, but nothing loaded.

[2022-03-15 18:45] arthyn commented on #1313
@sivner-figbus just double checking, have you seen this again since posting?

[2022-03-15 22:20] e-shee opened #1407 "Recently joined group tile not disappearing after leaving group"
**Describe the bug**

I briefly joined a group and left after a cursory examination, but it's still showing up as "Recently joined" despite my departure. When I click on the group, I'm directed to join.

**To Reproduce**
Steps to reproduce the behavior:
1. Join group
2. Leave group quickly
3. View 'recently joined' group
4. See error

**Expected behavior**
I expect a group I'm no longer a member o

[2022-03-16 05:57] simfur-ritwed opened #1408 "Long text strings run off right margin of page in Notebook entries"
Long, uninterrupted text strings on one line will run off the right edge of the page in Notebook entries. If the entire line is highlighted, all of the line can be copied/navigated to, however.
<img width="524" alt="text-string-cutoff-bug" src="https://user-images.githubusercontent.com/69221713/158525868-7180d929-2181-4931-88dd-bf033297e73d.png">

System: Chrome on MacBook Pro.

[2022-03-16 15:38] nerveharp commented on #1317
Also consider #1183 as part of this issue.

[2022-03-16 17:28] patosullivan opened #1409 "Clicking "Open App" on an app reference does not work if web+urbitgraph handler has not been set"
**Describe the bug**
If the browser is not registered to handle web+urbitgraph links then clicking on a link to "open app" from an app reference in landscape will display "about:blank".

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure web+urbitgraph link handler is not set (go to grid/garden, system preferences, interface settings, make sure that "Handle urbit links" is toggled off)

[2022-03-16 22:14] jalehman opened #1410 "Grid is perma-broken after uninstalling an application"
Some key details:

* The application in question was Citadel
* Citadel was stuck in a perpetual "Installing..." state (and had been for hours)

Here's a screenshot too:

<img width="1106" alt="Screen Shot 2022-03-16 at 3 14 08 PM" src="https://user-images.githubusercontent.com/550978/158700194-3de5e37f-8856-49df-a416-f4280ada2989.png">

[code]

[2022-03-16 22:15] jalehman commented on #1410
But then it came back several minutes later. Strange!

[2022-03-17 14:20] patosullivan opened #1411 "S3 failures are silent"
**Describe the bug**
If something goes wrong with S3 the user isn't notified.

- If you haven't setup S3 yet and try to paste something into a place where you would normally be able to paste it you won't see any response.
- If you haven't setup CORS properly on your s3 bucket (or any other config issue for s3) and then try to upload something the spinner will just spin forever without any indicati

[2022-03-17 15:49] Fang- commented on #1410
Can confirm. Unfortunately, for me, it doesn't seem to clear up eventually.

[2022-03-17 16:05] tinnus-napbus commented on #1410
yeah I had to reinstall the app from the dojo to get it working

[2022-03-18 10:28] MichaelCad commented on #1410
Confirmed this happened on my end while trying to install EScape. Can't use Port, so have to use browser to use landscape.

[2022-03-18 18:22] tomholford commented on #1404
Resolved in urbit/urbit#5632

[2022-03-18 18:22] #1404 closed

[2022-03-18 19:45] #1139 closed

[2022-03-18 19:45] #1302 closed

[2022-03-18 19:45] #1134 closed

[2022-03-18 19:45] #1186 closed

[2022-03-19 06:35] machinegrrrl commented on #1410
I'm also having the same issue, may I know how you reinstalled it?

[2022-03-19 09:01] tinnus-napbus commented on #1410
`|install ~the-publishing-ship %desk-name` in the dojo. You can also do `|install our %desk-name` but note it won't receive updates from the publisher if you install from `our`

[2022-03-19 21:27] Cubicus55 opened #1413 "Cannot destructure property 'title' of 't' as it is undefined."
[code]

[2022-03-19 21:27] Cubicus55 commented on #1413
This

[2022-03-19 21:27] #1413 closed

[2022-03-20 07:05] todteg-molpun opened #1414 "Blank screen after login"
**Describe the bug**
After logging in with my +code, the screen is blank. Urbit itself appears to run normally but nothing is visible on Landscape.

**Expected behavior**
Landscape loads as normal after login

**Operating context**
 - Device: Digitalocean droplet, 2 GB Memory / 50 GB Disk /
 - OS:  Ubuntu 20.04 (LTS) x64
 - Browser: Brave, Chrome
 - Landscape Basehash: `0vl.944pl.npmlg.iimm1.prpbs

[2022-03-21 00:10] sevvie opened #1415 "t is undefined"
I selected "Uninstall App" on the apps/grid for %bitcoin, and this was the result. I went to dojo and uninstalled Bitcoin, then reinstalled it, to no avail.

[code]

[2022-03-21 00:17] sevvie commented on #1415
Sorry, duplicate of https://github.com/urbit/landscape/issues/1410

[2022-03-21 00:17] #1415 closed

[2022-03-21 00:18] sevvie commented on #1410
I've reinstalled the app but the apps/grid still displays that same error and message as the OP.

[2022-03-21 15:42] patosullivan commented on #1414
Can you try running this:
`:glob [%kick /'~landscape'/js/bundle]`

[2022-03-21 16:38] patosullivan opened #1416 ""~sampel-palnet joined <group>" notification does not redirect to group on click"
**Describe the bug**
If you're subscribed to group changes and you get a notification about a new user joining a group, clicking that notification doesn't do anything.

[2022-03-21 19:09] arthyn commented on #1410
Should be fixed after this latest deploy, still working on some issues with persistence though.

[2022-03-21 19:09] #1410 closed

[2022-03-21 19:17] sivner-figbus commented on #1313
I see it constantly if I try to use the phone, to the point where i completely gave up as it is unusable.

[2022-03-22 05:15] todteg-molpun commented on #1414
This produces `gall: not running %glob yet, got %poke` but nothing else that I can see so far, no change on the blank screen.

Guessing something's disabled that should be running

[2022-03-22 08:10] todteg-molpun commented on #1414
Update: it eventually produced this output:

[code]
Appears to be the same as [this issue](https://github.com/urbit/urbit/issues/5549), however it does not seem to have been resolved.

[This](https://github.com/urbit/urbit/issues/2359) seems to suggest that a previous breach could be at fault

[2022-03-22 11:54] nerveharp commented on #1416
This might be by design but is confusing nonetheless. Let's redirect them to the group.

[2022-03-22 16:36] arthyn commented on #1360
If we have further copy improvements feel free to reopen, but this should correctly show a spinner now with progress. Also errors out to show "Unable to find..." if we encounter an error or if too much time passes.

[2022-03-22 16:36] #1360 closed

[2022-03-22 17:20] #1110 closed

[2022-03-23 18:05] nerveharp commented on #1403
A few things we want:
- Style linting, type checking, etc (bare minimum)
- Enforce this on the CI side; make it optional for the dev using VSCode or similar
- Warn about excessive console.log use (our console is very noisy)

@arthyn Please add any particulars you see fit.

[2022-03-23 19:46] nerveharp commented on #1364
@arthyn Is this still at large? I haven't seen this happen in a while.

[2022-03-23 19:47] arthyn commented on #1364
yep I'm working on it right now actually

[2022-03-23 19:53] nerveharp commented on #1411
Needs some interim design work; my suggestion is turning the spinner into a `/ ! \` with a tooltip containing the error and a suggestion to check your S3 settings. If mobile form factor turns out to be a hassle for the tooltip, let's just switch the icon and provide the bare minimum (no silent errors!).

[2022-03-23 20:07] nerveharp commented on #1414
@todteg-molpun Are you running the Studio app, by chance?

[2022-03-23 22:16] marisarow opened #1417 "Notification batch in reverse order"
**Describe the bug**
Notification batches show messages in reverse order (see screenshot)
![Screen Shot 2022-03-23 at 2 35 12 PM](https://user-images.githubusercontent.com/10634823/159804881-8b3265f5-0bc4-4388-9624-074f6646d550.png)

**To Reproduce**
See notifications with batched messages.

**Expected behavior**
I'd expect to read the batches in chronological order.

**Operating context**
 - Devi

[2022-03-24 07:54] todteg-molpun commented on #1414
I have it installed but I don' think I've used it. Do you think that might have something to do with it?

[2022-03-24 14:37] nerveharp commented on #1414
It does; there's some history of Studio messing with paths on the ship.

From our internal support channel:

[2022-03-24 22:46] nerveharp commented on #1105
@zalberico has a repro as well.

[2022-03-24 23:26] todteg-molpun commented on #1414
Last night I tried deleting some apps (including studio) to see if it would change anything. It now loads endlessly instead of a blank screen.

Tried `:pipe +dbug` on your suggestion. Currently getting lots of this kind of thing:
[code]

Seems like gall is having issues but unsure how to fix it

[2022-03-25 17:23] patosullivan commented on #1111
This bug no longer exists, it only applied to the old join flow (it now uses the new join modal).

[2022-03-25 17:23] #1111 closed

[2022-03-27 08:13] Fang- opened #1418 "Notification panel double-escapes special characters"
Messages containing gars (and presumably some symbols as well) will put doubly-escaped versions of those characters into the DOM, causing them to render as their escaped variants. Particularly noticeable for quote arrows.

<img width="701" alt="image" src="https://user-images.githubusercontent.com/3829764/160272817-c01e21bd-ed12-4d81-a711-9be418d9caf5.png">

[2022-03-27 15:06] nerveharp commented on #1408
The fix: hyphenate the line, but do not break links.

[2022-03-28 16:15] nerveharp commented on #1417
Please address this in Landscape as well.

[2022-03-28 20:22] nerveharp commented on #1162
@mwvd Exorcise this demon for us.

[2022-03-28 20:34] liam-fitzgerald commented on #1105
Is there a reliable repro? @zalberico repro is for a different issue

[2022-03-28 20:50] #1396 closed

[2022-03-28 20:53] nerveharp commented on #1315
Let's at least warn the channel-creator if they are not the group-hoster.

[2022-03-29 13:17] nerveharp commented on #1402
We will need a design for group links within Landscape itself and perhaps a discussion about deep-linking to other apps (and how that should appear).

[2022-03-30 16:08] marisarow opened #1419 "Group Join Preview mismatch with Group Preview"
**Describe the bug**
Participants in group join preview doesn't match participants in group preview.
![Screen Shot 2022-03-30 at 8 59 05 AM](https://user-images.githubusercontent.com/10634823/160880400-9b93c386-b082-40c3-84aa-cf854b62cb6b.png)
![Screen Shot 2022-03-30 at 8 59 18 AM](https://user-images.githubusercontent.com/10634823/160880404-3cff0be1-c506-4a06-b783-fa199c76af6e.png)

**Expected b

[2022-03-30 16:08] marisarow commented on #1419
Number of channels is also out of sync between the two.

[2022-03-30 17:35] patosullivan commented on #1418
Can't reproduce this. Quite odd.

[2022-03-31 06:55] simfur-ritwed opened #1420 "Difficult to discern between similarly named groups in Leap search due to highlighting effect"
When text is entered in the Leap search bar and returns a number of group and/or channel options with similar names, the way to tell the difference is by looking at the group host ship name at the right side of each result. However, when the top option is highlighted (as it almost always is by virtue of cursor position after entering the search term itself) the hosting ship name is replaced by an

[2022-04-01 19:58] patosullivan opened #1421 "Grid/%garden/"landscape": Leap changes input to match what it thinks you're searching for."
If you search for a ship to download an app from and that ship's @p happens to start with the letter of another ship you've stored an alias for leap will change what you have typed to match part of that alias.

For instance, if your ship has stored an alias for ~magped-magped-rabsef-bicrym (which happens to be aliased to ~crow), then if you were to try to search for another ship that starts with a

[2022-04-02 12:10] nerveharp opened #1422 "garden: https not detected in browser protocol settings"
Even though I am accessing Landscape through HTTPS, the notifications and link-handler settings prohibit me from using the link handler toggle.

This is on the pre-release build of Landscape v1.1.3. Android 12, Brave 1.36.122. Also present in Chrome.

![Screenshot_20220402-074149.png](https://user-images.githubusercontent.com/748181/161382431-8834a7ab-2e50-44a6-b2de-c6f9cb51e1d4.png)

![Screenshot

[2022-04-02 12:12] nerveharp commented on #1422
While we're here, let's do away with the setup prompt push notification; seems very not Calm.

[2022-04-02 12:13] patosullivan commented on #1422
Seeing the same on Brave on my Android.

[2022-04-02 13:29] nerveharp commented on #1422
Also seeing this in Chrome on Android.

[2022-04-02 22:43] nerveharp commented on #1422
Doubling down on this request. Landscape is notifying me to enable notifications on the same OS + browser client multiple times.

[2022-04-04 12:47] nerveharp opened #1423 "garden: multiple "enable notifications?" nags"
Landscape produces multiple browser protocol handler prompts in a decidedly un-Calm manner, despite having re-set and then setting following the new instructions. This occurs on every session load in the browser.

<img width="909" alt="Screen Shot 2022-04-04 at 8 44 42 AM" src="https://user-images.githubusercontent.com/748181/161546471-b43242b0-dca7-43b9-a1bf-bf55d5b0aeff.png">

[2022-04-04 12:48] nerveharp commented on #1420
@urcades Add to your list of considerations for keyboard selection in Indigo and beyond.

[2022-04-04 12:48] #1420 closed

[2022-04-04 13:00] urcades commented on #1420
+1

[2022-04-04 13:03] nerveharp commented on #1408
<img width="533" alt="image" src="https://user-images.githubusercontent.com/748181/161549591-323df8fb-8ad4-4932-9ecc-61c1d184ebbf.png">

[2022-04-04 13:07] nerveharp commented on #1282
Even though I am accessing Landscape through HTTPS, the notifications and link-handler settings prohibit me from using the link handler toggle.

This is on the pre-release build of Landscape v1.1.3. Android 12, Brave 1.36.122. Also present in Chrome.

![](https://user-images.githubusercontent.com/748181/161382431-8834a7ab-2e50-44a6-b2de-c6f9cb51e1d4.png)

From @patosullivan:

[2022-04-04 13:07] #1422 closed

[2022-04-04 13:09] nerveharp commented on #1282
Landscape also produces multiple browser protocol handler prompts in a decidedly un-Calm manner, despite having re-set and then setting following the new instructions. This occurs on every session load in the browser.

![](https://user-images.githubusercontent.com/748181/161546471-b43242b0-dca7-43b9-a1bf-bf55d5b0aeff.png)

[2022-04-04 13:10] nerveharp commented on #1423
Closing in favor of more discussion on urbit/landscape#1282

[2022-04-04 13:17] nerveharp commented on #1411
Using these credentials:

<img width="671" alt="image" src="https://user-images.githubusercontent.com/748181/161551026-15eb7f2b-9513-49b6-a4e0-4425250c7868.png">

produces this result (tooltip shown):

<img width="982" alt="image" src="https://user-images.githubusercontent.com/748181/161552125-7da2f9ba-c593-4002-9144-0189e0d9549f.png">

[2022-04-04 14:49] patosullivan commented on #1282
This is an issue with the copy, ultimately. Chrome on mobile (and therefore Brave and other chrome derivatives) does not support protocol handling, apparently: https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler#browser_compatibility.

I checked out the repo prior to my commits here and confirmed that the issue existed beforehand. We should probably update this copy

[2022-04-04 14:51] patosullivan commented on #1282
I can't reproduce this one. Which browser is this?

[2022-04-04 18:32] patosullivan commented on #1282
Updated the copy to "Unavailable with this browser/connection."

[2022-04-04 20:00] nerveharp commented on #1282
@patosullivan Good fix.

One last issue: I was able to avoid the multi-nag prompt by resetting the browser protocol settings for my ship, but it appears the "Do not disturb" control is extremely destructive. If I toggle it, I get absolutely zero notifications without any way to recover. Flipping switches in different combinations does nothing.

Hence, I propose the following:

1. Remove the "Do no

[2022-04-04 20:05] urcades commented on #1282
@nerveharp I agree on all points — Moving "Desktop Notifications" to Notifications is a no-brainer.

Do Not Disturb only makes sense in a world where more than one app (Groups) is producing notifications. Removing it entirely in favor of simplification makes sense.

[2022-04-04 20:46] patosullivan commented on #1282
Yikes, will look into that.

[2022-04-04 22:44] nerveharp commented on #1409
Our new tab redirect works; thank you @patosullivan.

[2022-04-04 23:05] nerveharp commented on #1282
I was eventually able to recover. A few notes from my journey:

- Toggling the "Show desktop notifications in this browser" toggle is destructive in Chrome / Mac and impossible to restore without nuking %hark-store, resetting all permissions, and effectively tricking Landscape into thinking it's seeing a new client. "Do Not Disturb" has no effect.
- Toggling the "Show desktop notifications in this

[2022-04-05 05:59] NZSGIT opened #1424 "Cannot read property 'filter' of undefined"
[code]

[2022-04-05 14:32] nerveharp commented on #1313
Addressing the unpredictable image height issue here, with PRs urbit/urbit#5678 and urbit/urbit#5691

[2022-04-05 14:34] nerveharp commented on #1313
@liam-fitzgerald Have not tested urbit/urbit#5691 but images in the collection/grid view should fill the container:

<img width="1224" alt="image" src="https://user-images.githubusercontent.com/748181/161777945-29c0f6b4-070c-481e-9f7d-8c21d4744baa.png">

[2022-04-05 18:49] #1309 closed

[2022-04-05 19:27] nerveharp opened #1425 "invitations: reticketing skips invites in stale cache"

[2022-04-06 15:06] patosullivan commented on #1424
Are you certain that you're on the latest version of grid/garden? If you run +vats, what is your base hash?

[2022-04-07 13:03] dnmfarrell opened #1426 "groups: chat "group settings" icon opens group notifications sub-menu (mobile only)"
When clicking group settings, instead of opening the group settings menu, groups displays the group notifications sub-menu. This means the user has to click "Back" to get to the group settings menu. This only happens on mobile; on desktop both group settings and group notifications are shown at the same time.

Steps to reproduce the behavior (on mobile)
1. Open the groups app
2. Open a group
3. Cl

[2022-04-08 13:03] nerveharp commented on #1282
@patosullivan We discussed some changes out of band in the Landscape channel:

- bring back DND, put it in "Notifications"
- eliminate the prompt notification

How are these looking?

[2022-04-08 13:15] patosullivan commented on #1282
Yep, they were merged here, just never got tagged with this issue I suppose: https://github.com/urbit/urbit/pull/5693

[2022-04-08 21:28] piclyx-docsun commented on #1274
Thank you!

[2022-04-12 15:59] ripnyt-ripnyt opened #1427 "Pressing 'm' results 'c' in search bar, autofill issue"
**Describe the bug**
A clear and concise description of what the issue/bug is.
I went to add %gora through the search bar and found this curious little bug (or at least weird UX).
After starting with sig, then pressing 'm' for ~mister-dozzod-dalten, ~crow comes up. ~crow is a nickname for the ship ~magped-magped-rabsef-bicrym which is what it was trying to autofill. This just made me think that my

[2022-04-12 16:43] patosullivan commented on #1427
Hey, thanks for the report! I logged this issue here as well (https://github.com/urbit/landscape/issues/1421) so I'll close this one, but this has prompted me to start working on this.

[2022-04-12 16:43] #1427 closed

[2022-04-12 18:40] #1407 closed

[2022-04-12 18:40] #1105 closed

[2022-04-12 18:40] #1258 closed

[2022-04-12 18:40] #1393 closed

[2022-04-12 18:40] #1117 closed

[2022-04-12 18:40] #1195 closed

[2022-04-12 18:40] #1313 closed

[2022-04-12 18:40] #1012 closed

[2022-04-12 18:40] #1161 closed

[2022-04-12 18:40] #1377 closed

[2022-04-12 18:40] #1045 closed

[2022-04-13 00:06] dnmfarrell commented on #1330
I had a go at this, here's the before/after:
![Screenshot from 2022-04-12 20-03-23](https://user-images.githubusercontent.com/1469333/163073834-81016b9a-fb0c-4060-b41c-3335b4836822.png)
![Screenshot from 2022-04-12 20-03-01](https://user-images.githubusercontent.com/1469333/163073840-7c73bfd0-a465-4cfc-a24f-4941b3f4e749.png)

What do you guys think?

[2022-04-14 10:19] dofdot opened #1428 "c.includes is not a function. (In 'c.includes(r)', 'c.includes' is undefined)"
[code]

[2022-04-14 14:20] tomholford commented on #1428
@dofdot Thanks for reporting. What browser and OS did this happen with? Also, what version of Landscape?

[2022-04-14 22:41] #1364 closed

[2022-04-18 17:36] tcspears opened #1429 "Cannot destructure property 'title' of 't' as it is undefined."
I'm receiving the following error when loading Landscape after attempting to install and then uninstall a buggy app. This error makes landscape unusable. Is there any way to roll my pier back to an earlier state?

[code]

[2022-04-18 18:21] patosullivan commented on #1429
What's your base hash for `%garden` when you run `+vats` from the dojo?

[2022-04-18 18:57] tcspears commented on #1429
Base hash for %garden: 0vv.4kf6s.d238n.ems0t.ran1a.bvf8f.tqp2m.ofujp.ijot6.m2rb5.obuur

[2022-04-18 19:12] patosullivan commented on #1429
Unless you've modified your `%garden` desk (must users would not in the course of normal operations), you're on an older version of `%garden`. The error your seeing should have been fixed a few weeks ago. You may want to try changing your source ship for `%garden` (and other apps, potentially):

`|install ~somestar %garden`, where ~somestar is a ship known to be providing recent OTAs. My planet us

[2022-04-18 19:25] tcspears commented on #1429
Thanks. The immediate issue seems to have resolved itself but my software is still out of date. I suppose this means OTAs aren't filtering down from my star?

[2022-04-18 19:32] #1429 closed

[2022-04-19 18:18] #1408 closed

[2022-04-19 18:18] #1411 closed

[2022-04-19 18:18] #1328 closed

[2022-04-19 18:18] #1426 closed

[2022-04-19 18:18] #1409 closed

[2022-04-19 18:18] #1417 closed

[2022-04-19 18:18] #1416 closed

[2022-04-19 18:18] #1282 closed

[2022-04-19 22:45] R3DRVM opened #1430 "Minified React error"
`Rg (webpack:///node_modules/react-dom/cjs/react-dom.production.min.js 140:46)
p (webpack:///node_modules/react-dom/cjs/react-dom.production.min.js 144:28)
w (webpack:///node_modules/react-dom/cjs/react-dom.production.min.js 146:131)
Wg (webpack:///node_modules/react-dom/cjs/react-dom.production.min.js 150:223)
useOpaqueIdentifier (webpack:///node_modules/react-dom/cjs/react-dom.production.min.js

[2022-04-19 22:52] R3DRVM commented on #1430
nvm

[2022-04-19 22:52] #1430 closed

[2022-04-20 19:58] iw-an opened #1431 "Unable to install any app due to content length header issues"
**Describe the bug**
Globs cannot be fetched because of this content header issue, it happens when trying to install any app, even from a new booted instance
![image](https://user-images.githubusercontent.com/25753391/164312474-9f0f221c-8409-403a-bf32-0dd181552653.png)

I'm running Windows 10 with the newest version of Urbit as of 20/04/2022

[2022-04-21 10:58] #1431 closed

[2022-04-21 11:01] dofdot opened #1432 "c.includes is not a function. (In 'c.includes(r)', 'c.includes' is undefined)"
[code]

[2022-04-22 00:42] abliss opened #1433 "Cannot read properties of undefined (reading 'metadata')"
[code]

[2022-04-23 11:44] sammut-posnev opened #1434 "Planet name on group tile will add two ~"
**Describe the bug**
The planet name that shows on a group tile will add two ~ when is copied.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'group tile that prompt *You're joining a Group*'
2. Click on 'planet name'

**Expected behavior**
The copied text should be ~sampel-palnet not ~~sampel-palnet.

**Additional context**
Not urgent or important.

[2022-04-24 01:50] sshine opened #1435 "d[r] is undefined"
Clicking the profile icon at the top right, "View Profile" > "Edit Private Profile" resulted in this:

[code]

[2022-04-24 13:24] habres-nolryg opened #1436 "notebooks and collections should have sort-by-date dropdown menu feature/option"
**Problem**
For instance in the Urbit Discovery group, by default posts that were commented first appear at the top, so users looking for new groups will often undesirably join inactive groups first. It should be the other way around; a group/channel owner should be able to specify a default sorting option for members who join, so that in this example a new user joining the Urbit Discovery group w

[2022-04-24 14:28] habres-nolryg opened #1437 "landscape needs emoji reactions"
enuff sed <3❤️

[2022-04-24 21:34] ferologics opened #1438 "Minified exception occurred"
[code]

[2022-04-25 02:32] aellsworth5050 opened #1439 "Minified exception occurred"

[2022-04-25 02:33] #1439 closed

[2022-04-25 17:24] patosullivan commented on #1438
Hey, thanks for the report. Could you describe the situation in which this issue occurred? Is it reproducible?

Could you also provide your cz hash for %garden? (found by issuing the `+vats` command in dojo)

[2022-04-25 17:25] patosullivan commented on #1437
Soon

[2022-04-25 17:25] #1437 closed

[2022-04-25 18:13] ferologics commented on #1438
it happened while i was trying to search for the studio app in the system, didn't happen since (but I also didn't really search for more apps). here's the %garden  hash `0v1h.ds33d.hd8ea.1b6a2.ba9mn.husad.49919.uls8p.85710.li2nk.e6o2e`

[2022-04-25 18:36] patosullivan commented on #1438
Might be related to this, the fix for which hasn't made it onto the network yet: https://github.com/urbit/urbit/pull/5719

[2022-04-25 21:00] nuljmn opened #1440 "c.includes is not a function"
each time i go to create a notebook with permissions set to only host or host + vetted ships, this error occurs. it doesn't happen when permission is set to any group member.

[code]

[2022-04-26 17:03] dnmfarrell commented on #1195
Is it just me or does the "Share private profile" banner still show up for everyone? I've tried clearing site data, using an incognito browser etc. I'm on the latest OTA. Wonder if I missed something in the PR.

[2022-04-26 20:32] dnmfarrell commented on #1195
Also this sounds like a dup of https://github.com/urbit/landscape/issues/399

[2022-04-27 00:20] dnmfarrell commented on #1434
Hey I'm trying to reproduce but don't think I'm looking in the right place. I've tried both of these:

![Screenshot from 2022-04-26 20-17-12](https://user-images.githubusercontent.com/1469333/165413613-af0d2b06-294d-44c1-9383-8f76431cac52.png)

![Screenshot from 2022-04-26 20-16-39](https://user-images.githubusercontent.com/1469333/165413635-a2689ecc-2326-4003-83fc-b3152501461e.png)

Could you sha

[2022-04-27 00:24] dnmfarrell commented on #1434
Nevermind, found it. Groups -> Join Group -> Join a Group:
![Screenshot from 2022-04-26 20-21-50](https://user-images.githubusercontent.com/1469333/165414001-57acdd65-f164-49b4-92b0-1f774784de56.png)

Can confirm clicking the planet name on ^ does indeed copy `~~zod` to the clipboard.

[2022-04-27 20:43] dnmfarrell commented on #1195
Hey @arthyn would you mind checking on this? I still see the banner 🙈

[2022-04-28 22:00] urcades opened #1441 "Improve Copy for "Urbit Link Handling" Landscape preference"
**Describe the bug**

![image](https://user-images.githubusercontent.com/1195363/165854513-9b0945f2-9e7b-484c-92ba-771814018667.png)

Currently, the interface shown above is written in such a manner that it's hard to tell what it's enabling, or what it's actually doing for the person considering toggling it.

I'd like to propose a simple change to the wording here, to make it completely clear what

[2022-04-28 22:01] urcades commented on #1441
Tagging @e-shee in here to get an eye on the above suggestion - if need be, we can walk through what exactly this things does, and whether the suggestion above is actually an improvement.

[2022-04-28 22:50] e-shee commented on #1441
I suggest something like:

[code]

[2022-04-28 23:02] urcades commented on #1441
@e-shee so much better, thanks a bunch for giving this a look!

[2022-04-29 07:31] #1434 closed

[2022-04-30 01:44] simfur-ritwed opened #1442 "Group DMs require joining multiple times (sometimes unsuccessful)"
Lately several group DMs with 3-4 ships, which I have already joined and read, present the 'Join' button multiple times afterwards. In ~75% cases this works and puts me back in the DM, in ~25% of cases it spins endlessly or fails.

System: I've seen this occur on Chrome on my MacBook Pro, but it seems worse on mobile Safari on an iPhone SE.

[2022-04-30 04:07] simfur-ritwed opened #1443 "Joining Group + Dismissing from notebook link returns user to wrong place on notebook page"
When one clicks on a group link in a notebook, successfully joins the group, but hits the Dismiss button (and thus returns to the original notebook page); one returns to a different place (usually about half a screen above) on the notebook page.

[2022-05-02 06:29] bobvaradin opened #1444 "Invalid integer: meet.google.com - logging into landscape"
Hello;

When trying to login to my planet with landscape i recieved this error.  I am able to see groups but the terminal dojo or other apps are not present```

isPrecise (webpack:///node_modules/big-integer/BigInteger.js 1365:36)
parseValue (webpack:///node_modules/big-integer/BigInteger.js 1413:19)
Integer (webpack:///node_modules/big-integer/BigInteger.js 15:15)
noteId (webpack:///src/views/app

[2022-05-02 15:09] arthyn commented on #1195
I wonder if it's possible it didn't make it in the release. The code is definitely not in master though. We'll probably releasing soon again so it should go in with that for sure.

[2022-05-03 08:10] simfur-ritwed commented on #760
This has been happening to me lately when using code block syntax in chats--same double height cursor, erratic highlighting representation, inability to place cursor on the correct line.

[2022-05-03 18:06] ynx0 opened #1445 "Grid / System / Landscape software search chokes on pasting pathological input"
Path that was pasted in verbatim: `/leap/search/~mister-hanfel-dovned %slam`

**Encountered error:Pathname "/leap/search/~mister-hanfel-dovned %slam" could not be decoded. This is likely caused by an invalid percent-encoding.**

[code]

System hash: `0f03b`

[2022-05-05 21:58] ynx0 opened #1446 "When publishing an update to a notebook, the content field remains editable."
**Describe the bug**
When publishing an update to a notebook, the content field remains editable even after the update button has been pressed.

(This probably doesn't manifest normally since updates go through quickly, but my submission bugged out so it didn't even kick me to the view mode. It also might matter when the network is slow.)

**To Reproduce**
Steps to reproduce the behavior:
1. Post

[2022-05-06 19:36] simfur-ritwed opened #1447 "'Send Message' from ship profile menu in Group participants list returns a blank screen"
1. Navigate to the 'Participants' tab in any group
2. Next to any participant pat-p, select the menu and select 'Send Message'
3. Instead of taking you into a new or existing, DM, a blank screen results.
<img width="1086" alt="select1" src="https://user-images.githubusercontent.com/69221713/167205784-97b2db13-418f-4045-87ee-1eb0b76b0724.png">
<img width="257" alt="select2" src="https://user-images

[2022-05-10 19:22] edehlol opened #1448 "Pathname "/leap/search/%" could not be decoded. This is likely caused by an invalid percent-encoding."
[code]

[2022-05-12 15:35] patosullivan commented on #1444
Hi @bobvaradin I can't reproduce this. Is this reproducible for you?

[2022-05-13 15:48] AlephNotation opened #1449 "Minified exception occurred"
Trying to join a group using a comet causes the client to bug out.

steps to reproduce:
1. spin up a comet
2. attempt to join group `~bidbel/a`
3. after attempt fails due to invalid perms, attempt again

[code]

[2022-05-13 16:21] patosullivan commented on #1448
Duplicated of https://github.com/urbit/landscape/issues/1445

[2022-05-13 16:21] #1448 closed

[2022-05-13 16:28] AlephNotation opened #1450 "Clicking on `report issue` link opens a page in the client rather than linking out to machine browser"
**Describe the bug**
When clicking on the `report issue` link, port opens the page in app which then asks for my gh creds.

**To Reproduce**
Steps to reproduce the behavior:
1. Force an error
2. Click on "report issue"

**Expected behavior**
The report issue link should open in the machine's default browser. This avoids having to submit GH creds through the client.

**Operating context**
 - Device

[2022-05-13 20:56] simfur-ritwed opened #1451 "Missing DM in existing channel"
A friend sent me 3 DMs this morning. The me:him DM channel has been open for months. #1 and #3 made it to me, #2 did not.

System: Chrome on macbook pro.

[2022-05-15 03:45] Stillstellung opened #1452 "Failed group join tile "sticks""
**Describe the bug**
A failed group join from week(s) ago remains as a tile saying `Join Failed`.  Am able to click abort, the tile disappears, but returns on a fresh login or a few visits to the main landscape view later.

**To Reproduce**
Steps to reproduce the behavior:
1. Click problematic tile
2. Click `abort` on the join failed modal

**Expected behavior**
Tile is removed and stays removed

[2022-05-17 07:18] rycl1 commented on #1384
This did not solve the problem. The output looked approximately like some kind of HTML.

[2022-05-17 18:12] patosullivan commented on #1444
Closing this for now.

[2022-05-17 18:12] #1444 closed

[2022-05-17 18:14] #1438 closed

[2022-05-23 03:08] hellowhirl opened #1453 "Pathname "/leap/search/%" could not be decoded. This is likely caused by an invalid percent-encoding."
[code]

[2022-05-23 13:36] #1453 closed

[2022-05-25 17:08] simfur-ritwed opened #1454 "Chat message auto-deletes"
I wrote a message in a chat. It went through; others saw it. Now it displays as "this message was deleted" to myself and others. I did not delete it.

System: Chrome on MacBook Pro.

[2022-05-25 17:22] Stillstellung opened #1455 "Last visited channel within a group should be open upon visiting a group"
**Problem**
Using leap or otherwise, my expectation is that when I visit a group, whatever channel or item I was last viewing should be selected and loaded by default. This is especially true for groups that may only have a single channel.

**Proposed Solution**
Sticky behavior for "last channel in a group opened" would be fantatsic.

**Possible Alternatives**
As this usecase may not be palatable

[2022-05-25 17:32] Stillstellung opened #1456 "c.includes is not a function"
occured when trying to create a new channel within a group

[code]

[2022-05-25 18:43] #1456 closed

[2022-05-25 22:05] Stillstellung commented on #1456
@patosullivan thanks!

[2022-05-26 19:47] simfur-ritwed opened #1457 "Initial group screen omits participant count"
Seen intermittently: When first navigating to a group, the right side screen description blurb does not include the actual # of participants.
<img width="361" alt="parts-missing" src="https://user-images.githubusercontent.com/69221713/170565779-867fef6c-c5b1-4193-b200-953c07b8d9c5.png">

System: Chrome on MacBook Pro.

[2022-05-27 08:04] bzol opened #1458 "c.includes is not a function"
[code]
The above error happens when I try to create a notebook in my group, with the write access->only hosts option chosen. Group creation works fine if All group members are allowed to post into the group.

[2022-05-27 15:41] #1428 closed

[2022-05-27 15:41] #1432 closed

[2022-06-02 07:05] tinnus-napbus opened #1459 "Grid: Cannot follow mention notifications to Groups, get blank page"
**Describe the bug**
A clear and concise description of what the issue/bug is.
*Include a screenshot or stack trace if possible.*
When I get a mention in Grid from Landscape and click on it to open it in Groups, it does not load the channel. In qutebrowser it's just a white page, in Chromium and Firefox it loads the background and menu but the whole channel component isn't there.

**To Reproduce**

[2022-06-04 13:43] yapishu opened #1460 "1.9 OTA broke Grid/Landscape"
**Describe the bug**
I haven't been able to get the 1.9 OTA to install on my star, so I manually applied on my planet it from `~zod`. After it finished installing, the web interfaces were not serving. I manually installed and revived `%garden`, `%landscape`, and `%webterm`, which made Groups begin sort of serving -- I can load the menus, but can only very sporadically open the contents of anything

[2022-06-04 16:17] yapishu commented on #1460
Resolved this by uninstalling some 419 apps and `|sync`ing `%base` from another star

[2022-06-04 16:17] #1460 closed

[2022-06-06 20:04] dnmfarrell opened #1461 "Groups: 1 new message since Invalid Date alert"
**Describe the bug**
The "x new messages since" popup displays bad data:

![Screenshot from 2022-06-06 14-59-21](https://user-images.githubusercontent.com/1469333/172237019-43f81291-cde1-4217-bb78-3b72c952ab79.png)

**To Reproduce**
Steps to reproduce the behavior:
1. The last message a ship read in a channel is deleted
2. New messages are written to the channel by other users
3. Upon returning th

[2022-06-09 01:35] tacryt-socryp opened #1462 "Landscape issue with changing permissions of writers to notebook"
![image](https://user-images.githubusercontent.com/1377557/172745555-93344ea7-f936-451c-9e02-8b3177b8c293.jpeg)

[2022-06-09 15:23] patosullivan commented on #1462
Thanks for the report. This has been fixed recently and will be out in the next OTA.

Duplicate of #1440  #1456  #1428  #1432 and #1458

[2022-06-09 15:23] #1462 closed

[2022-06-13 13:46] nisfeb opened #1463 "Can't Accept Group Invite"
**Describe the bug**
Group invite UI presents, but "Accept" is not clickable. I have not experienced this in any public groups, but this is the only private group I've tried to join since the binary/OTA update.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a notification for a group invitation
2. Click on the invite notification
3. See invite popup
4. Click "Accept"
5. Nothin

[2022-06-15 21:10] saunic commented on #1440
Having the same problem with mine. Also works fine with `any group member` permission:
![image](https://user-images.githubusercontent.com/71407101/173930518-abf3f943-779b-4a8c-b874-accdd2f09fd6.png)

[2022-06-16 07:27] MichaelCad commented on #1381
Facing same issue but seeing https://github.com/urbit/urbit/pull/5644 and https://github.com/urbit/urbit/pull/5060 checks pass.

Is there going to be next steps?

[2022-06-16 13:29] patosullivan commented on #1440
This will be fixed in an upcoming OTA.

[2022-06-20 02:00] michaelrodriguez23 opened #1464 "Minified exception occurred"
[code]

[2022-06-20 14:16] Conviare opened #1465 "Minified exception occurred"
[code]

[2022-06-21 00:40] galenwp opened #1466 "After creating a notebook it cannot be opened"
I created a notebook, marked it as only updatable by the host, then hit a stack trace. When I try to navigate back to it, I get the same trace.

[code]

[2022-06-21 00:41] galenwp commented on #1466
This doesn't seem to happen if I set the option to let it anyone post to the notebook. If I create a notebook that way, then change it to be 'only host' I get the same trace.

[2022-06-21 14:21] patosullivan commented on #1466
Hey @galenwp, this should be fixed in the next Groups OTA. The fix itself should be distributed on our internal dev stream moon for %landscape this week.

[2022-06-22 19:12] Conviare opened #1467 "Minified exception occurred"
[code]

[2022-06-22 19:54] patosullivan commented on #1467
Hey, thanks for filing a bug report. Unfortunately, we can't do much unless you provide the exception that occurred.

[2022-06-23 09:54] bonbud-macryg opened #1468 "Groups: can't access notebook in My Channels"
I was trying to change permissions on one of my notebooks in My Channels and it crashed to the message below. I can't access the notebook in Groups anymore as it just shows this stack trace, but I can access it from Escape just fine.

[code]

I was trying to set permissions so that only I could post to the notebook, and allow readers to comment. At the time I was also attempting to join the notebo

[2022-06-23 17:49] patosullivan commented on #1468
This is a known bug that will be addressed in an upcoming OTA. Thanks for the report, though!

[2022-06-23 17:49] #1468 closed

[2022-06-27 00:11] #1467 closed

[2022-06-29 05:02] urcades opened #1469 "c.includes is not a function. (In 'c.includes(r)', 'c.includes' is undefined)"
Received the below error while attempting to create a host-only-post-able notebook in a group I own — cc @nerveharp

( i know these sorts of issues probably won't be handled with frozen legacy interfaces, but keeping track of this in case others see it )

[code]

[2022-06-29 05:03] urcades commented on #1469
Looks like the notebook actually was created, but any time I click on the channel in the sidebar, I get the error below:

[code]

[2022-06-29 05:51] #1469 closed

[2022-06-29 05:51] urcades commented on #1469
After a hard refresh everything appears to work as expected — weird little bug!

[2022-07-05 02:18] saunic commented on #1440
@patosullivan It;s not in the latest update right? Cause I've just updated and am still having this problem.

[2022-07-05 15:43] patosullivan commented on #1440
Correct it was not in the most recent OTA, it will be in an OTA including many other groups fixes.

[2022-07-10 05:13] bierlingm opened #1470 "Minified exception occurred"
[code]

[2022-07-10 13:50] rabsef-bicrym opened #1471 "%graph-store sends `%add-graph` update on `updates` path before there are nodes"
**Problem**
When a user joins a graph, agents watching `/updates` on `graph-store` get an `add-graph` before there are necessarily any nodes (i.e. the backlog of the chat) in the graph. Since `add-graph` always has a blank graph when sent on `/updates`, and since `add-graph` with the 'backlog' of the chat prior to the user joining is **not** in `update-log`, there's no good timing solution (other

[2022-07-10 15:52] rabsef-bicrym commented on #1471
Actually I think I'm wrong - I was using bad info.

[2022-07-10 15:52] #1471 closed

[2022-07-11 21:58] vvisigoth commented on #1463
I'm helping someone else with this same problem. Inability to join private groups.

[2022-07-12 14:52] matthew-levan opened #1472 "can't toggle notifications in group's notebook (stuck on)"
**Describe the bug**
A group notebook I am a member of sends me notifications every time someone comments on one of the notebook posts. I would like to turn those notifications off. However, the switch button in the notebook's settings (see screenshot below) will toggle on/off but the "Save Changes" button at the bottom right never activates and allows for clicking. In effect, I am unable to turn

[2022-07-12 15:00] matthew-levan commented on #1472
A screenshot of what the notifications look like:

<img width="808" alt="Screen Shot 2022-07-12 at 10 58 14 AM" src="https://user-images.githubusercontent.com/91502660/178521383-1bc78725-c66f-486b-a0fa-ccc2530662e7.png">

[2022-07-12 20:44] mopfel-winrux commented on #1463
I'm experiencing the same issue with iwtf group

[2022-07-15 13:53] minderfolden opened #1473 "Cannot destructure property 'title' of 't' as it is undefined."
I just tried uninstalling ballot on a moon, and now this is what I see when trying to use landscape. This error will not dismiss when I click "try again" nor "submit issue"

[code]

[2022-07-15 14:18] patosullivan commented on #1473
Thanks for reporting this, I'll look into it.

[2022-07-15 14:21] minderfolden commented on #1429
I'm having this issue, too. I've tried the advice here, and this is what I'm getting.
![image](https://user-images.githubusercontent.com/51895363/179242665-136872c6-4815-4327-8536-66089536d69f.png)

[2022-07-15 14:27] minderfolden commented on #1429
![image](https://user-images.githubusercontent.com/51895363/179244124-80e5ebd6-b3b6-41ad-b500-9838ebd9a815.png)

[2022-07-17 00:11] nyuutsu opened #1474 "Minified exception occurred"
not good at computers so not sure what information you need here. this is about an error that occurs for me on firefox 102.0.1 when trying to join groups on urbit through my browser w/ i'm using to access my planet w/ is running on a server elsewhere. I get this error each time I attempt to join a group.
[code]

[2022-07-18 15:29] patosullivan commented on #1474
Thanks for the report! We'll look into it.

[2022-07-19 16:34] nyuutsu commented on #1474
I haven't seen the issue since & i've been joining many groups yesterday & today. So can't replicate so may well be fixed. Thank you.

[2022-07-29 18:21] simfur-ritwed opened #1475 "Creating new DM fails at button stage in DMs view"
This occurred when walking a friend through L2 planet setup with local Port on a MacBook Pro, in Chrome.

When he navigated to the DMs view, searched for a pat-p, selected that pat-p, and pressed the 'Create' button, nothing happened. This occurred 3 times in a row, including after browser refresh. He was able to successfully DM all 3 users by instead navigating to their profile pages in Leap and

[2022-07-29 22:55] simfur-ritwed opened #1476 "Very old DM gets stuck close to top after being opened but with no new activity"
I recently went through multiple old DMs which last had any activity over a year ago. After doing so, one became stuck in the 4th-from-top position in my DMs view despite no new messages. None of the other old DMs I opened seem to have shifted position. Said old DM is now making its way down towards the bottom as I send and receive new DMs. This situation has persisted through multiple hard refres

[2022-08-04 15:47] samueldiamond opened #1477 "c.includes is not a function"
[code]

[2022-08-04 15:48] samueldiamond commented on #1477
On creation of notebook in groups

[2022-08-04 15:55] patosullivan commented on #1477
Can you post the output of `+vat %landsacpe`?a

[2022-08-04 16:07] samueldiamond commented on #1477
![Screenshot 2022-08-04 at 18 06 51](https://user-images.githubusercontent.com/49480731/182895208-d86c90f5-cb74-4ab7-aa80-dba3d9d9ec9c.png)

[2022-08-04 16:24] patosullivan commented on #1477
I think you may be on an older version of %landscape. Try running `|install ~lander-dister-dozzod-dozzod %landscape`

[2022-08-04 22:56] nuljmn opened #1478 "Minified exception occurred"
[code]

[2022-08-06 12:39] Nathanwoodburn opened #1479 "Minified exception occurred when Searching for app"
Error: Minified exception occurred

[code]

https://user-images.githubusercontent.com/62039630/183249254-4c708c1e-3999-4883-9c98-2e2d69ec54ce.mov

[2022-08-08 16:19] patosullivan commented on #1478
hey @nuljmn , is this the same issue you're seeing: https://github.com/urbit/landscape/issues/1479 ?

[2022-08-08 16:20] patosullivan commented on #1477
@samueldiamond if you ran that command, it should show a base hash ending in `7086c` if you're up to date.

[2022-08-08 16:21] patosullivan commented on #1473
Hey @minderfolden, sorry for the lack of follow-up. I think this may have been caused by you not being logged in. Did this error ever go away?

[2022-08-08 16:33] minderfolden commented on #1473
No idea; I suspended the app and haven't dealt with it since. No clue what this was about; I've slept quite a bit since then and have no recollection of what was going on.

[2022-08-08 17:58] patosullivan commented on #1477
np!

[2022-08-08 17:58] #1477 closed

[2022-08-08 17:58] patosullivan commented on #1473
Alright, closing for now.

[2022-08-08 17:58] #1473 closed

[2022-08-08 21:09] patosullivan commented on #1479
@Nathanwoodburn told me out of band that this issue went away for him on its own. Still going to fix the unhelpful minified exception.

[2022-08-08 21:09] #1479 closed

[2022-08-09 17:07] marisarow opened #1480 "Participant numbers missing in Group landing page"
**Describe the bug**
Missing the count of participants in a group on the landing page.
![Screen Shot 2022-08-09 at 10 00 51 AM](https://user-images.githubusercontent.com/10634823/183713331-b9992539-d65f-411a-973b-b35e22b2bdaa.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any group 'home' page

**Expected behavior**
That there be a count of participants.

**Operating context**
 -

[2022-08-15 19:09] tadad opened #1481 "c.includes is not a function"
[code]

[2022-08-15 19:16] patosullivan commented on #1481
Hi @tadad, can you please run `+vat %landscape` in the dojo and post the output here?

[2022-08-18 21:01] kliningjr commented on #1481
Received the exact same error when creating a notebook in a group; included a screenshot of the +vat %landscape command (since I can't copy / paste the result from terminal)

[
![Capture](https://user-images.githubusercontent.com/14171153/185493648-493f62b9-e105-4330-8f38-5ccacadc306f.PNG)
](url)

[2022-08-19 16:30] patosullivan commented on #1481
You're on an older version of %landscape, it appears there's an issue with ~lander-dister-dozzod-dozzod. We're looking into the issue with that moon. In the meantime, you could install that desk from some other source, like ~togten, just run `|install ~togten %landscape`, and you'll be on a newer version where this bug should not exist.

[2022-08-24 18:32] afknapping opened #1482 "Back button should work"
**Problem**

**Proposed Solution**

**Possible Alternatives**

**Additional context**

[2022-08-26 00:52] rodrigo-breia-lopes opened #1483 "Minified exception occurred"
[code]

[2022-08-26 00:53] #1483 closed

[2022-09-11 16:25] moskalyk opened #1484 "c.includes is not a function"
[code]

[2022-09-12 15:24] patosullivan commented on #1484
Hi, could you make sure you're on the latest version?

Run `+vat %landscape` and see what the last five characters of the base hash is. Should be `hvgv5`.

If it's not, your %landscape desk is out of date. `~lander-dister-dozzod-dozzod` should be able to provide the latest if your OTA sponsor is not providing timely updates.

You can use ~lander-dister-dozzod-dozzod for updates to %landscape like

[2022-09-17 01:42] meijiu opened #1485 "The quota has been exceeded."
Getting this error when I want to load %grid:
[code]

[2022-09-17 16:24] meijiu commented on #1485
Fixed by clearing browsing history, cache, cookies etc. on browser.

[2022-09-17 16:24] #1485 closed

[2022-09-18 03:17] harmolipi opened #1486 "Things hanging, unable to send group messages, several grayed out groups I can neither join nor remove"
**Describe the bug**
In general, things seem off with my ship. I first tried asking for help in the Urbit Community group, but my message goes gray indefinitely, and never goes through. Until today my Groups app said "Errored" and was unclickable, but I managed to resolve that by suspending and resuming it. I have several grayed out groups from when I tried to add channels with the Channels app, a

[2022-09-22 22:45] sp0oby opened #1487 "Minified exception occurred"
[code]

[2022-09-24 20:11] invaliduser opened #1488 "Landscape times out on load"
Caddy file:
[code]

logs while starting ship:
[code]

Upon attempting to visit url in browser, browser doesn't get a response.

[2022-09-26 21:29] fmaclen commented on #1484
I just got the same error when I was restricting the write access on a notebook in **Groups**.
When I run `|install ~lander-dister-dozzod-dozzod %landscape` it looks like I have the latest version:

<img width="881" alt="image" src="https://user-images.githubusercontent.com/1434675/192383903-7c12db62-d49c-4dad-b71c-7c3ed3a33da4.png">

Any other details I can provide?

[2022-09-27 18:41] sigilante commented on #1488
Can you `|install ~lander-dister-dozzod-dozzod %landscape`?

What about changing upstream sponsor, e.g. `|ota ~marzod` or `|ota ~binzod`?

The fact that `+vat` is missing tells me things aren't getting installed.  Who's your sponsor now, do you know?

[2022-09-27 19:03] invaliduser commented on #1488
current sponsor is indeed `~ripwet`
ran `|install ~lander-dister-dozzod-dozzod %landscape`:

[code]
then `|ota ~marzod`:

[code]
lot of updates...
[code]

[code]
when this finished I was in dojo, turned off the machine then started it up again (landscale still not coming up), and here we are:

[code]

[2022-09-27 19:15] invaliduser commented on #1488
+vat %landscape
%landscape
  /sys/kelvin:      [%zuse 418]
  base hash:        0v1r.rjcef.sdu8l.15orr.dl5ie.r47ep.esf8n.as1cu.sbdlb.aq220.46ooa
  %cz hash:         0v1r.rjcef.sdu8l.15orr.dl5ie.r47ep.esf8n.as1cu.sbdlb.aq220.46ooa
  app status:       running
  force on:         ~
  force off:        ~
  publishing ship:  [~ ~lander-dister-dozzod-dozzod]
  updates:          tracking
  source ship:

[2022-09-27 20:32] invaliduser commented on #1488
running `python -m http.server 8080` successfully serves up the directory it's run from, I don't think it's a port/dns issue

[2022-09-27 20:42] sigilante commented on #1488
Well, you have +vat now so something's getting fixed.  Maybe `|bump` and try installing `%garden` too.

[2022-09-27 21:00] invaliduser commented on #1488
I got it to load from a comet running on local, I'll be at hoon school tonight (v. new to urbit), suspect I'll be learning enough in the next month to make solving it trivial.

was serious about compensation btw, if you send me your venmo I'll send some cash

[2022-09-27 21:34] sigilante commented on #1488
it's almost def. an installation blocked or failing then..

appreciated and per ~minder-folden's ethic I understand the value of paying for time, but I am already paid once to do some of this sort of thing

[2022-09-27 21:38] invaliduser commented on #1488
:+1:

[2022-09-27 21:38] #1488 closed

[2022-09-30 15:24] Tenari opened #1489 "c.includes is not a function"
created a notebook, selected "Host and selected ships" and didn't fill out any selected ships and the clicked create
[code]

[2022-09-30 19:09] urcades opened #1490 "Running into the following error after clicking a notification: `c.includes is not a function. (In 'c.includes(r)', 'c.includes' is undefined)`"
The following stack trace is exposed when I try and click this notification for Tlon Public:

![Screen Shot 2022-09-30 at 3 09 06 PM](https://user-images.githubusercontent.com/1195363/193340129-3c750db4-efcc-4d94-8a79-33e8f293395d.png)

[code]

[2022-09-30 19:54] akrause10 opened #1491 "Cannot read properties of undefined (reading 'group')"
[code]

[2022-10-02 01:32] praxeo opened #1493 "When editing settings on a channel in Groups: c.includes is not a function"
I created a new channel in Landscape. A Notebook with write access for me, and comment access for anyone. I set a custom accent color. I got the following error after clicking Save, and get it every time I try opening the channel.

[code]

[2022-10-02 01:36] praxeo commented on #1493
It appears setting write access to myself only rather than the default (all group members can post) is what kills it.

[2022-10-10 07:21] rhysmonkey opened #1495 "c.includes is not a function"
[code]

[2022-10-15 09:19] rhysmonkey opened #1496 "Minified exception occurred"
[code]

[2022-10-15 18:58] kpirate commented on #1493
I've been running into the same error, happens in any group I create, and hae had it on mmultiple ships. It seems to be just setting a channel to 'host only' that kills it.

[2022-10-18 21:58] mb0x88 opened #1497 "c.includes is not a function"
I was creating a notebook within a public group and this error popped up

c.includes is not a function

[code]

[2022-10-18 22:00] mb0x88 commented on #1497
when I click "Go Bback" the natebook had been created but I was not joined inside the channel

[2022-10-24 14:56] patosullivan commented on #1497
This should be an older bug. Which version of landscape are you on? Run `+vat %landscape` and find the base hash. My current base hash for landscape is `46ooa`

[2022-10-24 20:44] mb0x88 commented on #1497
base hash:        0v1r.rjcef.sdu8l.15orr.dl5ie.r47ep.esf8n.as1cu.sbdlb.aq220.46ooa

[2022-10-24 20:56] patosullivan commented on #1497
That is the latest afaik. I will look into this.

[2022-10-26 13:17] tinnus-napbus opened #1498 "docket: can't update a docket app to a non-docket app"
**Describe the bug**
There's no way to switch an app from a docket app to a non-docket app. Pushing an update with the docket file removed retains the existing charges etc & there's no poke to get rid of them.

**Expected behavior**
Should be able to get rid of the front-end

@Fang-

[2022-10-26 13:19] tinnus-napbus commented on #1498
maybe it would be undesirable as a user would think it was deleted when it was still running. Maybe there should be a 4th glob/site option that retains the tile but it's not clickable and has no FE

[2022-10-26 13:21] tinnus-napbus commented on #1498
context is that I want to get rid of Beacon's front-end cos it's redundant; you only wanna interact with its API through Eyre from an external node.js app or w/e. There's no way for me to do this so I'm gonna have to either set the site to go nowhere or write a simple HTML "this has no FE" page.

[2022-10-27 15:08] ryjm opened #1499 "http-api: code eval broken over http"
**Describe the bug**
Code eval in chat works fine over https but not http.
**To Reproduce**
Steps to reproduce the behavior:
1. Evaluate code in an http and https session
2. See error

**Expected behavior**
Works over both.

**Operating context**
 - Device: thinkpad and macbook air
 - OS: macOS and nixOS
 - Browser: Safari and Brave
<img width="1470" alt="image" src="https://user-images.githubuser

[2022-10-27 15:12] ryjm commented on #1499
note that it works fine in `%escape` which uses http-api 2.1.0 so might be an issue with 2.1.1

[2022-10-27 17:47] fasner-bitful commented on #1499
can confirm.  trailing spaces should not be added, and possibly should even be actively deleted.

[2022-11-02 04:32] pablopeniche opened #1500 "c.includes is not a function"
[code]

[2022-11-02 04:47] pablopeniche opened #1501 "c.includes is not a function"
After clicking on a YouTube link from a "collection" post I created in a new group, I get this error

[code]

[2022-11-03 23:01] chadmyers opened #1502 "S3 - Invalid authorization header - wrong region when uploading profile image"
I am using the Remote Storage option and have configured an AWS S3 bucket in `us-west-2 (Oregon)` region. I have set up the endpoint for `s3-us-west-2.amazonaws.com`. I think I have my S3 bucket and CORS set up properly (since I got a different error when I didn't CORS set up and then I re-read the docs and set it up properly).

When I attempt to upload a profile photo, I get a 200 on the pre-flig

[2022-11-03 23:01] chadmyers commented on #1502
I'm going to try to make a bucket in us-east-1 and see if that works and report back.

[2022-11-03 23:02] chadmyers commented on #1502
NOTE: If I can get all this working, I am willing to assist in adding AWS-specific information to the Remote Storage config page docs for configuring AWS S3 storage.

[2022-11-09 20:17] thelifeandtimes opened #1503 "Creating notebook in a group errors out."
I am trying to create a notebook channel in a private group, and after successfully creating two notebooks, on attempt of creating a third (titled, `Notices`), i get sent the the error page with the following stack trace warning and a prompt to file this as an issue.

"c.includes is not a function"

[code]

The notebook appears to have been created, but if trying to join from either the host ship,

[2022-11-25 20:04] Fang- commented on #1498
The context feels like it's in the class of "things landscape/docket should but doesn't support", alongside discovering/installing/managing packages that don't show up as tiles, or only have cli frontends, or have no frontend but still want a tile. I imagine it's likely we'll want to tackle all of those holistically.

For the particular issue of being able to get rid of a docket file/tile though,

[2022-11-26 13:19] dalton-cole opened #1504 "c.includes is not a function. (In 'c.includes(r)', 'c.includes' is undefined)"
[code]

[2022-11-26 13:20] #1504 closed

[2022-11-29 03:56] lycurgus opened #1505 "Parsing of patp breaks for the rest of the message if a malformed patp is found"
**Describe the bug**
Typing text that looks like patp but isn't, breaks subsequent patp parsing in the message. E.g. the content:

`~sampel-palnet ~sampel-notvalid ~sampel-sampel`

will only render the first patp as a link/mention.

Screenshot:
![image](https://user-images.githubusercontent.com/8443742/204434171-d69da0ec-42e8-4759-88f5-2a6ea7f40021.png)

**To Reproduce**
Steps to reproduce the beh